/********************************************************************

    Resources that were extracted from a binary that ran on 16-bit Windows.

    Copyright(c) Microsoft Corporation.All rights reserved.
    Licensed under the MIT License.

********************************************************************/

500 MENU
BEGIN
    POPUP   "ﾌｧｲﾙ(Fﾌ)"
    BEGIN
    MENUITEM    "開く(Oﾋ)	Enter", 0X0065
    MENUITEM    "移動(Mﾄ)...	F7", 0X006A
    MENUITEM    "コピー(Cｺ)...	F8", 0X006B
    MENUITEM    "削除(Dｻ)...	Del", 0X006C
    MENUITEM    "名前の変更(Nﾅ)...", 0X006D
    MENUITEM    "属性の変更(Tｿ)...	Alt+Enter", 0X006E
    MENUITEM    "", 0X0000
    MENUITEM    "名前を指定して実行(Rﾏ)...", 0X0069
    MENUITEM    "印刷(Pｲ)...", 0X0066
    MENUITEM    "アプリケーションとの関連付け(Aｶ)...", 0X0067
    MENUITEM    "", 0X0000
    MENUITEM    "ディレクトリの作成(Eﾃ)...", 0X006F
    MENUITEM    "検索(Hｹ)...", 0X0068
    MENUITEM    "選択(Sｾ)...", 0X0074
    MENUITEM    "", 0X0000
    MENUITEM    "ファイル マネージャの終了(Xｼ)", 0X0073
    END
    POPUP   "ﾃﾞｨｽｸ(Dﾃ)"
    BEGIN
    MENUITEM    "フロッピー ディスクのコピー(Cｺ)...", 0X00C9
    MENUITEM    "ボリューム ラベルの変更(Lﾗ)...", 0X00CA
    MENUITEM    "", 0X0000
    MENUITEM    "フロッピー ディスクのフォーマット(Fﾌ)...", 0X00CB
    MENUITEM    "システム ディスクの作成(Mｼ)...", 0X00CC
    MENUITEM    "", 0X0000
    MENUITEM    "ドライブの選択(Sﾄ)...", 0X00FB
    END
    POPUP   "ﾃﾞｨﾚｸﾄﾘ(Tﾚ)"
    BEGIN
    MENUITEM    "1つ下を表示(Xﾋ)	+", 0X012D
    MENUITEM    "この下をすべて表示(Bｺ)	*", 0X012E
    MENUITEM    "すべて表示(Aｽ)	Ctrl+*", 0X012F
    MENUITEM    "この下を表示しない(Cﾅ)	-", 0X0130
    MENUITEM    "", 0X0000
    MENUITEM    "サブ ディレクトリの有無を表示(Iｻ)", 0X01F9
    END
    POPUP   "表示(Vﾋ)"
    BEGIN
    MENUITEM    "ディレクトリとファイル一覧(Rｲ)", 0X019D
    MENUITEM    "ディレクトリのみ(Eﾃ)", 0X019B
    MENUITEM    "ファイル一覧のみ(Oﾌ)", 0X019C
    MENUITEM    "", 0X0000
    MENUITEM    "境界の変更(Lｷ)", 0X019E
    MENUITEM    "", 0X0000
    MENUITEM    "名前のみ(Nﾉ)", 0X0191
    MENUITEM    "すべての情報(Aｽ)", 0X0192
    MENUITEM    "表示情報の設定(Pｾ)...", 0X0193
    MENUITEM    "", 0X0000
    MENUITEM    "名前順(Sﾅ)", 0X0194
    MENUITEM    "拡張子別(Bｶ)", 0X0195
    MENUITEM    "サイズ順(Zｻ)", 0X0196
    MENUITEM    "日付順(Dﾋ)", 0X0197
    MENUITEM    "", 0X0000
    MENUITEM    "ファイルの種類の指定(Tｼ)...", 0X0199
    END
    POPUP   "ｵﾌﾟｼｮﾝ(Oｵ)"
    BEGIN
    MENUITEM    "確認メッセージの有無(Cｶ)...", 0X01F5
    MENUITEM    "フォントの指定(Fﾌ)...", 0X01FE
    MENUITEM    "", 0X0000
    MENUITEM    "ステータス バーの表示(Sｽ)", 0X01F7
    MENUITEM    "未使用時にアイコン化(Mｱ)", 0X01F8
    MENUITEM    "終了時の状態を保存(Eﾎ)", 0X01FF
    END
    POPUP   "ｳｨﾝﾄﾞｳ(Wｳ)"
    BEGIN
    MENUITEM    "新しいウィンドウを開く(Nｱ)", 0X03ED
    MENUITEM    "重ねて表示(Cｶ)	Shift+F5", 0X03E9
    MENUITEM    "並べて表示(Tﾅ)	Shift+F4", 0X03EA
    MENUITEM    "アイコンの整列(Aｾ)", 0X03EC
    MENUITEM    "最新のファイル情報に更新(Rｺ)	F5", 0X03EB
    END
    POPUP   "ﾍﾙﾌﾟ(Hﾍ)"
    BEGIN
    MENUITEM    "目次(Cﾓ)", 0X044D
    MENUITEM    "キーワードで検索(Sｷ)...", 0X001E
    MENUITEM    "ヘルプの使い方(Hﾍ)", 0X044E
    MENUITEM    "", 0X0000
    MENUITEM    "バージョン情報(Aｼ)...", 0X044F
    END
END


145 DIALOG 0x80c8, 12, 12, 291, 153
CAPTION "フォントの指定"
STYLE 0x0080
    CONTROL 0x82, "フォント名(Fﾌ):", 1088, 0x0000, 6, 3, 57, 9
    CONTROL 0x85, "", 1136, 0x0351, 6, 13, 94, 54
    CONTROL 0x82, "スタイル(Yｽ):", 1089, 0x0000, 106, 3, 83, 9
    CONTROL 0x85, "", 1137, 0x0001, 108, 13, 76, 54
    CONTROL 0x82, "サイズ(Sｻ):", 1090, 0x0000, 192, 3, 42, 9
    CONTROL 0x85, "", 1138, 0x0311, 194, 13, 32, 54
    CONTROL 0x80, "文字飾り", 1072, 0x0007, 6, 72, 84, 61
    CONTROL 0x80, "取り消し線(Kﾄ)Stri&keout", 1040, 0x0003, 10, 82, 49, 10
    CONTROL 0x80, "下線(Uｾ)", 1041, 0x0003, 10, 94, 65, 10
    CONTROL 0x80, "小文字で表示(Lｺ)", 1042, 0x0003, 10, 82, 70, 10
    CONTROL 0x82, "色(Cｲ):", 1091, 0x0000, 10, 106, 30, 9
    CONTROL 0x85, "", 1139, 0x0253, 10, 116, 75, 50
    CONTROL 0x80, "OK", 1, 0x0001, 242, 7, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 242, 24, 44, 14
    CONTROL 0x80, "適用(Aﾃ)", 1026, 0x0000, 242, 40, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 1038, 0x0000, 242, 57, 44, 14
    CONTROL 0x80, "サンプル", 1073, 0x0007, 98, 72, 160, 49
    CONTROL 0x82, "", 1093, 0x0081, 98, 124, 160, 20
    CONTROL 0x82, "AaBbYyZz", 1092, 0x0081, 104, 81, 149, 37
END

45 DIALOG 0x80c8, 11, 31, 203, 86
CAPTION "ドライブの選択"
STYLE 0x0080
    CONTROL 0x82, "ドライブ(Dﾄ):", 245, 0x000c, 5, 5, 58, 10
    CONTROL 0x83, "", 222, 0x0083, 5, 16, 140, 60
    CONTROL 0x80, "OK", 1, 0x0001, 155, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 155, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 155, 44, 44, 14
END

10 DIALOG 0x80c8, 15, 12, 210, 63
CAPTION "ファイル名を指定して実行"
STYLE 0x0080
    CONTROL 0x82, "", 101, 0x008b, 3, 6, 158, 10
    CONTROL 0x82, "コマンド ライン(Cﾌ):", 100, 0x000c, 3, 18, 115, 8
    CONTROL 0x81, "", 201, 0x0480, 3, 29, 140, 12
    CONTROL 0x80, "アイコンの状態で実行(Mｱ)", 214, 0x0003, 3, 45, 110, 11
    CONTROL 0x80, "OK", 1, 0x0001, 162, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 162, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 162, 43, 44, 14
END

44 DIALOG 0x80c8, 15, 12, 165, 68
CAPTION "ファイルの選択"
STYLE 0x0080
    CONTROL 0x82, "選択するファイル(Fﾌ):", -1, 0x000c, 7, 7, 78, 10
    CONTROL 0x81, "", 201, 0x0480, 91, 6, 60, 12
    CONTROL 0x80, "選択(Sｾ)", 1, 0x0001, 18, 29, 50, 14
    CONTROL 0x80, "取り消し(Dﾄ)", 6, 0x0000, 83, 29, 50, 14
    CONTROL 0x80, "終了", 2, 0x0000, 18, 48, 50, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 83, 48, 50, 14
END

39 DIALOG 0x80c8, 10, 20, 265, 95
CAPTION "ファイルの上書きを確認"
STYLE 0x0080
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 213, 10
    CONTROL 0x82, "元のファイル:", 100, 0x000c, 25, 15, 53, 10
    CONTROL 0x82, "", 103, 0x008c, 89, 15, 171, 10
    CONTROL 0x82, "", 105, 0x000c, 89, 25, 171, 10
    CONTROL 0x82, "新しいファイル:", 100, 0x000c, 25, 34, 62, 10
    CONTROL 0x82, "", 102, 0x008c, 89, 34, 171, 10
    CONTROL 0x82, "", 106, 0x000c, 89, 44, 171, 10
    CONTROL 0x80, "はい(Yﾊ)", 6, 0x0001, 12, 75, 44, 14
    CONTROL 0x80, "すべてを上書き(Aｽ)", 107, 0x0000, 67, 75, 76, 14
    CONTROL 0x80, "いいえ(Nｲ)", 7, 0x0000, 154, 75, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 209, 75, 44, 14
END

40 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "ファイルの削除を確認"
STYLE 0x0080
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x000c, 25, 3, 210, 10
    CONTROL 0x82, "削除するファイル:", 100, 0x000c, 25, 14, 69, 8
    CONTROL 0x82, "", 102, 0x008c, 27, 25, 210, 8
    CONTROL 0x80, "はい(Yﾊ)", 6, 0x0001, 11, 40, 44, 14
    CONTROL 0x80, "すべてを削除(Aｽ)", 107, 0x0000, 64, 40, 63, 14
    CONTROL 0x80, "いいえ(Nｲ)", 7, 0x0000, 136, 40, 45, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 190, 40, 44, 14
END

41 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "ディレクトリの削除を確認"
STYLE 0x0080
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "削除するディレクトリ:", 100, 0x000c, 25, 18, 85, 10
    CONTROL 0x82, "", 102, 0x008c, 112, 18, 133, 10
    CONTROL 0x80, "はい(Yﾊ)", 6, 0x0001, 11, 40, 44, 14
    CONTROL 0x80, "すべてを削除(Aｽ)", 107, 0x0000, 65, 40, 61, 14
    CONTROL 0x80, "いいえ(Nｲ)", 7, 0x0000, 136, 40, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 190, 40, 44, 14
END

42 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "ファイルの移動を確認"
STYLE 0x0080
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "移動するファイル:", 100, 0x000c, 25, 18, 69, 10
    CONTROL 0x82, "", 102, 0x008c, 96, 18, 144, 10
    CONTROL 0x80, "はい(Yﾊ)", 6, 0x0001, 12, 40, 44, 14
    CONTROL 0x80, "すべてを移動(Aｽ)", 107, 0x0000, 64, 40, 62, 14
    CONTROL 0x80, "いいえ(Nｲ)", 7, 0x0000, 134, 40, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 189, 40, 44, 14
END

43 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "ファイル名の変更を確認"
STYLE 0x0080
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "名前を変更するファイル:", 100, 0x000c, 25, 13, 93, 10
    CONTROL 0x82, "", 102, 0x008c, 120, 13, 120, 10
    CONTROL 0x80, "はい(Yﾊ)", 6, 0x0001, 12, 40, 44, 14
    CONTROL 0x80, "すべてを変更(Aｽ)", 107, 0x0000, 64, 40, 62, 14
    CONTROL 0x80, "いいえ(Nｲ)", 7, 0x0000, 135, 40, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 189, 40, 44, 14
END

11 DIALOG 0x80c8, 20, 20, 244, 63
CAPTION "印刷"
STYLE 0x0080
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 193, 10
    CONTROL 0x82, "印刷するファイル(Pｲ):", 100, 0x000c, 3, 20, 150, 10
    CONTROL 0x81, "", 102, 0x0480, 3, 30, 151, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 45, 190, 10
    CONTROL 0x80, "OK", 1, 0x0001, 197, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 197, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 197, 43, 44, 14
END

13 DIALOG 0x80c8, 20, 20, 230, 82
CAPTION "ファイルの検索"
STYLE 0x0080
    CONTROL 0x82, "検索するファイル名(Sﾌ):", 100, 0x000c, 5, 6, 150, 8
    CONTROL 0x81, "", 201, 0x0480, 7, 17, 160, 12
    CONTROL 0x82, "検索するディレクトリ(Fﾃ):", 100, 0x000c, 5, 35, 94, 9
    CONTROL 0x81, "", 101, 0x0480, 7, 45, 160, 12
    CONTROL 0x80, "サブ ディレクトリまで検索(Eｾ)", 232, 0x0003, 5, 64, 160, 12
    CONTROL 0x80, "OK", 1, 0x0001, 180, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 180, 24, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 180, 43, 44, 14
END

14 DIALOG 0x80c8, 37, 59, 215, 110
CAPTION "ファイル/ディレクトリの移動"
STYLE 0x0080
    CONTROL 0x82, "現在のﾃﾞｨﾚｸﾄﾘは Nです。", 101, 0x008b, 3, 6, 182, 9
    CONTROL 0x82, "移動先(Tｻ):", 2001, 0x000c, 3, 34, 62, 10
    CONTROL 0x81, "", 103, 0x0480, 75, 32, 132, 12
    CONTROL 0x80, "", 257, 0x0004, 65, 33, 10, 10
    CONTROL 0x80, "パッケージにしてクリップボードへコピー(Cｸ)", 256, 0x0004, 4, 49, 205, 12
    CONTROL 0x82, "", 104, 0x008b, 20, 74, 175, 9
    CONTROL 0x82, "", 201, 0x008b, 20, 64, 175, 9
    CONTROL 0x80, "OK", 1, 0x0001, 24, 90, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 85, 90, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 145, 90, 44, 14
    CONTROL 0x82, "移動元(Fﾓ):", 2002, 0x000c, 3, 19, 66, 10
    CONTROL 0x81, "", 102, 0x0480, 75, 18, 132, 12
END

15 DIALOG 0x80c8, 20, 20, 249, 78
CAPTION "ファイル/ディレクトリの削除"
STYLE 0x0080
    CONTROL 0x82, "現在のﾃﾞｨﾚｸﾄﾘは Cです。", 101, 0x008c, 3, 5, 193, 10
    CONTROL 0x82, "削除するファイル/ディレクトリ(Lｸ):", 100, 0x000c, 20, 21, 135, 10
    CONTROL 0x81, "", 102, 0x0480, 20, 31, 160, 12
    CONTROL 0x82, "", 104, 0x008b, 20, 50, 160, 9
    CONTROL 0x82, "", 201, 0x008b, 40, 60, 160, 9
    CONTROL 0x80, "OK", 1, 0x0001, 200, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 200, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 200, 43, 44, 14
END

38 DIALOG 0x80c8, 20, 20, 265, 65
CAPTION "ファイル/ディレクトリの属性の変更"
STYLE 0x0080
    CONTROL 0x82, "%d 個のファイルを選択、全ファイル容量 %s バイト", 100, 0x000c, 1, 4, 212, 9
    CONTROL 0x80, "属性", -1, 0x0007, 1, 18, 188, 42
    CONTROL 0x80, "書き込み禁止(Rｷ)", 215, 0x0003, 10, 29, 75, 12
    CONTROL 0x80, "隠しファイル(Iｶ)", 216, 0x0003, 105, 29, 75, 12
    CONTROL 0x80, "バックアップ対象(Aﾊ)", 217, 0x0003, 10, 41, 85, 12
    CONTROL 0x80, "システム(Sｼ)", 218, 0x0003, 105, 41, 66, 12
    CONTROL 0x80, "OK", 1, 0x0001, 216, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 216, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 216, 43, 44, 14
END

16 DIALOG 0x80c8, 33, 44, 231, 100
CAPTION "%s の属性の変更"
STYLE 0x0080
    CONTROL 0x80, "OK", 1, 0x0001, 181, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 181, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 181, 43, 44, 14
    CONTROL 0x82, "ﾌｧｲﾙ名(Fﾌ):", 100, 0x000c, 5, 5, 52, 8
    CONTROL 0x81, "", 201, 0x0880, 61, 4, 112, 10
    CONTROL 0x82, "ﾌｧｲﾙ ｻｲｽﾞ:", 100, 0x000c, 5, 16, 52, 9
    CONTROL 0x82, "", 203, 0x000c, 61, 16, 112, 10
    CONTROL 0x82, "保存した日時:", 100, 0x000c, 5, 27, 53, 9
    CONTROL 0x82, "", 204, 0x000c, 61, 27, 112, 10
    CONTROL 0x82, "ﾃﾞｨﾚｸﾄﾘ(Pﾃ):", 100, 0x000c, 5, 38, 58, 9
    CONTROL 0x81, "", 101, 0x0880, 61, 38, 112, 10
    CONTROL 0x80, "属性", 100, 0x0007, 4, 52, 172, 42
    CONTROL 0x80, "書き込み禁止(Rｷ)", 215, 0x0003, 9, 64, 70, 12
    CONTROL 0x80, "隠しファイル(Iｶ)", 216, 0x0003, 101, 65, 71, 12
    CONTROL 0x80, "バックアップ対象(Aｱ)", 217, 0x0003, 9, 76, 87, 12
    CONTROL 0x80, "システム(Sｼ)", 218, 0x0003, 101, 76, 70, 12
END

17 DIALOG 0x80c8, 20, 20, 210, 63
CAPTION "ディレクトリの作成"
STYLE 0x0080
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 160, 10
    CONTROL 0x82, "ﾃﾞｨﾚｸﾄﾘ名(Nﾃ):", 100, 0x000c, 3, 23, 54, 10
    CONTROL 0x81, "", 201, 0x0480, 60, 21, 80, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 46, 150, 10
    CONTROL 0x80, "OK", 1, 0x0001, 162, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 162, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 162, 43, 44, 14
END

47 DIALOG 0x80c8, 20, 20, 221, 58
CAPTION "システム ディスクの作成"
STYLE 0x0080
    CONTROL 0x82, "コピー先のドライブ(Cﾄ):", -1, 0x000c, 5, 9, 90, 10
    CONTROL 0x85, "", 222, 0x0003, 101, 8, 40, 37
    CONTROL 0x80, "OK", 1, 0x0001, 171, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 171, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 171, 40, 44, 14
END

19 DIALOG 0x80c8, 20, 20, 160, 64
CAPTION "フロッピー ディスクのコピー"
STYLE 0x0080
    CONTROL 0x82, "ｺﾋﾟｰ元のﾄﾞﾗｲﾌﾞ(Sﾓ):", -1, 0x000c, 5, 8, 87, 10
    CONTROL 0x85, "", 245, 0x0003, 95, 6, 40, 37
    CONTROL 0x82, "ｺﾋﾟｰ先のﾄﾞﾗｲﾌﾞ(Dｻ):", 206, 0x000c, 5, 22, 85, 10
    CONTROL 0x85, "", 222, 0x0003, 95, 20, 40, 37
    CONTROL 0x80, "OK", 1, 0x0001, 12, 44, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 61, 44, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 110, 44, 44, 14
END

22 DIALOG 0x90c8, 30, 30, 175, 58
CAPTION "フロッピー ディスクのコピー"
STYLE 0x0082
    CONTROL 0x82, "ドライブ A:", 222, 0x0001, 0, 5, 175, 10
    CONTROL 0x82, "のディスクをコピーしています...", 100, 0x0001, 0, 15, 175, 10
    CONTROL 0x82, "コピー元のフロッピー ディスクを読み出し中...", 243, 0x0001, 0, 26, 175, 10
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0001, 65, 40, 44, 14
END

23 DIALOG 0x80c8, 20, 20, 165, 63
CAPTION "ボリューム ラベルの変更"
STYLE 0x0080
    CONTROL 0x82, "新しいボリューム ラベル(Lﾗ):", 100, 0x000c, 5, 15, 107, 10
    CONTROL 0x81, "", 201, 0x0480, 5, 26, 100, 12
    CONTROL 0x80, "OK", 1, 0x0001, 115, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 115, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 115, 43, 44, 14
END

24 DIALOG 0x90c8, 11, 28, 213, 96
CAPTION "フロッピー ディスクのフォーマット"
STYLE 0x0080
    CONTROL 0x80, "OK", 1, 0x0001, 165, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 165, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 165, 43, 44, 14
    CONTROL 0x82, "ドライブ(Dﾄ):", -1, 0x000c, 10, 7, 60, 10
    CONTROL 0x85, "", 222, 0x0003, 80, 5, 65, 40
    CONTROL 0x82, "容量(Cﾖ):", 100, 0x000c, 10, 20, 60, 10
    CONTROL 0x85, "", 241, 0x0003, 80, 20, 65, 40
    CONTROL 0x80, "オプション", 102, 0x0007, 5, 39, 155, 53
    CONTROL 0x82, "ボリューム ラベル(Lﾗ):", -1, 0x000c, 9, 51, 80, 10
    CONTROL 0x81, "", 201, 0x0000, 93, 49, 63, 12
    CONTROL 0x80, "システム ディスクにする(Mｼ)", 242, 0x0003, 10, 63, 141, 12
    CONTROL 0x80, "クイック フォーマット方式(Qｸ)", 244, 0x0003, 10, 76, 130, 12
END

26 DIALOG 0x90c8, 30, 30, 195, 50
CAPTION "フロッピー ディスクのフォーマット"
STYLE 0x0080
    CONTROL 0x82, "現在フロッピー ディスクをフォーマット中", 100, 0x0001, 10, 5, 168, 10
    CONTROL 0x82, "ドライブの初期化中...", 243, 0x0001, 10, 17, 168, 10
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0001, 75, 31, 44, 14
END

27 DIALOG 0x90c8, 30, 30, 200, 51
CAPTION "システム ディスクの作成"
STYLE 0x0080
    CONTROL 0x82, "現在システム ファイルをコピーしています...", 100, 0x0001, 0, 6, 200, 8
    CONTROL 0x82, "中止するときは、[ｷｬﾝｾﾙ] ボタンを押してください。", 100, 0x0001, 0, 16, 200, 8
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0001, 74, 31, 44, 14
END

28 DIALOG 0x80c8, 12, 19, 267, 135
CAPTION "ネットワークの接続"
STYLE 0x0080
    CONTROL 0x80, "新しい接続", -1, 0x0007, 5, 3, 180, 55
    CONTROL 0x82, "パス名(Nﾊ):", -1, 0x0000, 10, 16, 57, 10
    CONTROL 0x81, "", 223, 0x0480, 70, 14, 100, 12
    CONTROL 0x82, "ドライブ(Rﾄ):", -1, 0x0000, 10, 29, 57, 10
    CONTROL 0x85, "", 222, 0x0003, 70, 27, 40, 100
    CONTROL 0x82, "パスワード(Wﾜ):", -1, 0x0000, 10, 44, 57, 10
    CONTROL 0x81, "", 224, 0x04a0, 70, 42, 100, 12
    CONTROL 0x82, "カレント ドライブの接続(Vｶ):", -1, 0x0000, 5, 62, 108, 9
    CONTROL 0x83, "", 245, 0x1003, 5, 73, 180, 60
    CONTROL 0x80, "終了(Lｸ)", 2, 0x0001, 195, 6, 65, 14
    CONTROL 0x80, "接続(Cｾ)", 1, 0x0000, 195, 23, 65, 14
    CONTROL 0x80, "以前の接続(Pｲ)...", 226, 0x0000, 195, 40, 65, 14
    CONTROL 0x80, "参照(Bｻ)...", 227, 0x0000, 195, 57, 65, 14
    CONTROL 0x80, "接続解除(Dｶ)", 255, 0x0000, 195, 74, 65, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 195, 91, 65, 14
END

29 DIALOG 0x80c8, 30, 30, 231, 98
CAPTION "以前のネットワーク接続"
STYLE 0x0080
    CONTROL 0x82, "パス名(Pﾅ):", 100, 0x000c, 3, 3, 69, 10
    CONTROL 0x83, "", 226, 0x0003, 3, 15, 172, 80
    CONTROL 0x80, "選択(Sｾ)", 1, 0x0001, 181, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 181, 24, 44, 14
    CONTROL 0x80, "削除(Dｻ)", 219, 0x0000, 181, 41, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 181, 58, 44, 14
END

30 DIALOG 0x80c8, 20, 20, 170, 65
CAPTION "表示情報の設定"
STYLE 0x0080
    CONTROL 0x80, "表示する情報の指定", 100, 0x0007, 4, 4, 111, 55
    CONTROL 0x80, "ファイル サイズ(Sｻ)", 203, 0x0003, 11, 15, 100, 9
    CONTROL 0x80, "保存した日(Mﾋ)", 204, 0x0003, 11, 25, 100, 9
    CONTROL 0x80, "保存した時刻(Tｼ)", 205, 0x0003, 11, 35, 100, 9
    CONTROL 0x80, "ファイルの属性(Fｿ)", 206, 0x0003, 11, 45, 100, 9
    CONTROL 0x80, "OK", 1, 0x0001, 120, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 120, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 120, 43, 44, 14
END

32 DIALOG 0x80c8, 20, 20, 167, 102
CAPTION "表示するファイルの種類の指定"
STYLE 0x0080
    CONTROL 0x82, "ファイル名(Nｼ):", 100, 0x000c, 5, 7, 66, 10
    CONTROL 0x81, "", 201, 0x0480, 75, 5, 65, 12
    CONTROL 0x80, "ファイルの種類", 100, 0x0007, 5, 20, 105, 62
    CONTROL 0x80, "ディレクトリ(Dﾃ)", 101, 0x0003, 10, 31, 92, 12
    CONTROL 0x80, "プログラム(Pﾌ)", 210, 0x0003, 10, 43, 93, 12
    CONTROL 0x80, "関連付けたﾌｧｲﾙ(Mﾄ)", 211, 0x0003, 10, 55, 97, 12
    CONTROL 0x80, "上記以外のﾌｧｲﾙ(Oｲ)", 212, 0x0003, 10, 68, 92, 12
    CONTROL 0x80, "隠しﾌｧｲﾙ/ｼｽﾃﾑ ﾌｧｲﾙも表示(Sｶ)", 250, 0x0003, 5, 86, 152, 12
    CONTROL 0x80, "OK", 1, 0x0001, 118, 24, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 118, 44, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 118, 64, 44, 14
END

33 DIALOG 0x80c8, 20, 20, 215, 80
CAPTION "確認メッセージの有無を設定"
STYLE 0x0080
    CONTROL 0x80, "確認する操作", 100, 0x0007, 6, 3, 151, 73
    CONTROL 0x80, "ファイルの削除(Dｻ)", 219, 0x0003, 10, 14, 143, 10
    CONTROL 0x80, "ディレクトリの削除(Iﾃ)", 220, 0x0003, 10, 27, 143, 10
    CONTROL 0x80, "ファイルの上書き(Rｳ)", 221, 0x0003, 10, 39, 143, 9
    CONTROL 0x80, "マウスの操作(Mﾏ)", 249, 0x0003, 10, 51, 143, 10
    CONTROL 0x80, "ﾌﾛｯﾋﾟｰ ﾃﾞｨｽｸのﾌｫｰﾏｯﾄとｺﾋﾟｰ(Kﾌ)", 251, 0x0003, 10, 63, 143, 10
    CONTROL 0x80, "OK", 1, 0x0001, 165, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 165, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 165, 40, 44, 14
END

35 DIALOG 0x80c8, 20, 20, 250, 55
CAPTION "移動中..."
STYLE 0x0080
    CONTROL 0x82, "", 104, 0x008b, 5, 37, 165, 10
    CONTROL 0x82, "", 201, 0x008b, 5, 10, 192, 10
    CONTROL 0x82, "移動先:", 108, 0x008b, 5, 24, 33, 10
    CONTROL 0x82, "", 109, 0x008b, 5, 24, 192, 10
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0001, 200, 34, 40, 14
END

36 DIALOG 0x80c8, 20, 20, 124, 58
CAPTION ""
STYLE 0x0080
    CONTROL 0x82, "ファイルの印刷中...", -1, 0x0001, 0, 6, 124, 12
    CONTROL 0x82, "", 100, 0x0081, 0, 20, 124, 12
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0001, 44, 40, 38, 14
END

12 DIALOG 0x80c8, 31, 38, 220, 91
CAPTION "関連付けるアプリケーションの設定"
STYLE 0x0080
    CONTROL 0x82, "拡張子(Fｶ):", 99, 0x000c, 5, 8, 80, 10
    CONTROL 0x81, "", 112, 0x0400, 88, 6, 35, 12
    CONTROL 0x82, "実行されるｱﾌﾟﾘｹｰｼｮﾝ ﾌﾟﾛｸﾞﾗﾑ(Aｱ):", 99, 0x000c, 5, 22, 150, 10
    CONTROL 0x81, "", 113, 0x0080, 5, 32, 148, 12
    CONTROL 0x83, "", 111, 0x1003, 11, 44, 146, 40
    CONTROL 0x80, "OK", 1, 0x0001, 165, 6, 50, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 165, 23, 50, 14
    CONTROL 0x80, "参照(Bｾ)...", 232, 0x0000, 165, 43, 50, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 165, 60, 50, 14
END

46 DIALOG 0x80c8, 11, 28, 255, 75
CAPTION "ファイル名の選択"
STYLE 0x0080
    CONTROL 0x82, "このパスは、MS-DOSのファイル名にできません。新しい名前を入力してください。", 99, 0x0000, 10, 4, 188, 24
    CONTROL 0x82, "新しい名前(Nｱ):", 99, 0x0002, 3, 56, 57, 12
    CONTROL 0x81, "", 103, 0x0000, 68, 55, 130, 12
    CONTROL 0x82, "元のパス:", 99, 0x0002, 3, 28, 77, 11
    CONTROL 0x81, "", 102, 0x0880, 85, 28, 110, 10
    CONTROL 0x82, "転送先ディレクトリ:", 99, 0x0002, 3, 42, 77, 11
    CONTROL 0x81, "", 101, 0x0880, 85, 41, 110, 10
    CONTROL 0x80, "OK", 1, 0x0001, 205, 6, 44, 14
    CONTROL 0x80, "ｷｬﾝｾﾙ", 2, 0x0000, 205, 23, 44, 14
    CONTROL 0x80, "ﾍﾙﾌﾟ(Hﾍ)", 254, 0x0000, 205, 40, 44, 14
END


Ordinal  String
---------------------------------------------------------------
0x0028   "Windowsの終了"
0x0029   "Windowsを終了します。"

Ordinal  String
---------------------------------------------------------------
0x0032   "フロッピー ディスクのコピー"
0x0033   "転送先のフロッピー ディスクを挿入してください。"
0x0034   "転送元のフロッピー ディスクを挿入してください。"
0x0035   "転送元と転送先のフロッピー ディスクを挿入してください。"
0x0036   "目的のディスクをフォーマット中です..."
0x0037   "ディスク コピーのエラー"
0x0038   "ディスクをコピーできません。"
0x003a   "転送元と転送先のディスクに互換性がありません。"
0x003c   "%d%% 完了"
0x003d   "ルート ディレクトリを作成しています..."
0x003e   "システム ファイルをコピーしています..."
0x003f   "ディスク フォーマットのエラー"

Ordinal  String
---------------------------------------------------------------
0x00c0   "ディスク容量不足のため印刷できません。

不要なファイルを削除して空きディスク容量を増やしてから、やり直してください。"
0x00c1   "メモリ不足のため印刷できません。

いくつかのWindowsアプリケーションを終了してから、やり直してください。"
0x00c2   "印刷中にエラーが発生しました。

プリンタの設定と接続が正しく行われている確認してください。"
0x00c3   "完全なディレクトリとファイルの一覧を表示できません。"
0x00c5   "転送先のドライブはいっぱいです。

続けるには新しいフロッピー ディスクを挿入してください。"
0x00c6   "ｼｽﾃﾑ ﾌｧｲﾙ、隠しﾌｧｲﾙ、または書き込み禁止ﾌｧｲﾙです。"
0x00c7   "クイック フォーマットはできません。

通常のフォーマットを行いますか?"
0x00c8   "これは、WindowsまたはMS-DOSアプリケーションではありません。"
0x00c9   "このアプリケーションにはMicrosoft Windowsの新しいバージョンが必要です。"
0x00ca   "このアプリケーションにはMicrosoft Windowsが必要です。"
0x00cb   "アプリケーションにコマンドを送っているときにエラーが発生しました。"

Ordinal  String
---------------------------------------------------------------
0x0040   "フロッピー ディスクをフォーマットできません。"
0x0042   "フォーマット完了"
0x0043   "%ld バイト 全ディスク容量
%ld バイト 空きディスク容量

別のディスクをフォーマットしますか?"
0x0046   "システム ディスクの作成"
0x0047   "ドライブ %c: のディスクにシステム ファイルをコピーしてよろしいですか?"
0x0048   "システム ディスク エラー"
0x0049   "MS-DOSスタートアップ ドライブにシステム ファイルがないか、使用できません。"
0x004a   "MS-DOSスタートアップ ドライブにはシステム ファイルをコピーできません。"
0x004b   "ディスクにシステム ファイルを追加できません。

フォーマット済みのフロッピー ディスクが、ドライブにセットされているか確認してください。"

Ordinal  String
---------------------------------------------------------------
0x0050   "ネットワーク エラー"
0x0053   "このドライブにはWindowsのシステム ファイルがないので、接続を解除できません。"
0x005b   "属性の変更はできません。

ディスクが書き込み禁止でないか確認してください。"
0x005c   "ディレクトリは作成できません。

ディスクが書き込み禁止でないか確認してください。"
0x005d   "ディスクにボリューム ラベルを付けられません。

ディスクが書き込み禁止でないか、ネットワーク ドライブでないか、ラベルが正しいかを確認してください。
ボリューム ラベルに次の文字は使えません。
[space] * ? / \ | . , ; : + = [ ] ( ) & ^ < > " "
0x005f   "該当するファイルが見つかりません。"

Ordinal  String
---------------------------------------------------------------
0x00b4   "ﾌｧｲﾙ数 %d 個 (%s ﾊﾞｲﾄ)"
0x00b5   "ディレクトリの読み取り: %d "
0x00b6   "%c: 空き容量 %sKB、全ﾃﾞｨｽｸ容量 %sKB"
0x00b7   "%d 個のファイルが見つかりました。"
0x00b9   "選択されたファイル"
0x00ba   "ネットワーク ドライブを切断できません。

このドライブのファイルをまだ開いています。"
0x00bb   "%d 個のﾌｧｲﾙ (%s ﾊﾞｲﾄ)を選択"
0x00bc   "ドライブ %c の準備ができていません。

フロッピー ディスクを挿入してやり直してください。"
0x00bd   "ドライブ %c のフロッピー ディスクはフォーマットされていないか、このドライブでは認識できない形式です。

フォーマットしますか?"
0x00bf   "印刷するファイルが見つかりません。指定したパスおよびファイル名が正しいか確認してください。"

Ordinal  String
---------------------------------------------------------------
0x0060   "このディレクトリはすでに存在します。"
0x0061   "このドライブの内容は変更されています。
[検索結果] ウィンドウを更新しますか?"
0x0065   "ドライブ %c:%c"
0x006e   "アプリケーション実行エラー"
0x006f   "予期せぬエラー: %d."

Ordinal  String
---------------------------------------------------------------
0x00d2   "フォーマットするとフロッピー ディスクの 全データがクリアされます。ドライブ %c: のディスクをフォーマットしますか?"
0x00d3   "フロッピー ディスクのフォーマットを確認"
0x00d4   "この操作を実行すると転送先の全データがクリアされます。操作を続けますか?"
0x00d5   "フロッピー ディスクのコピーを確認"
0x00d6   "終了(Cｼ)"
0x00d7   "復元(Uﾌ)..."
0x00d8   "ネットワークの接続(Nﾈ)..."
0x00d9   "ネットワークの接続(Nﾈ)..."
0x00da   "ディレクトリ %s は存在しません。

このディレクトリを作成しますか?"
0x00db   "ﾌﾟﾛｸﾞﾗﾑ ﾌｧｲﾙ#*.exe;*.pif;*.com;*.bat#すべてのﾌｧｲﾙ (*.*)#*.*#"
0x00dc   "プログラム ファイルの参照"
0x00dd   "実行"
0x00de   "ファイルの印刷エラー"
0x00df   "ヘルプを表示できません。"

Ordinal  String
---------------------------------------------------------------
0x0070   "メモリ不足のためこのアプリケーションを実行できません。いくつかのWindowsアプリケーションを終了してから、やり直してください。"
0x0071   "ファイル(または必要なファイル)が見つかりません。

パスおよびファイル名と、必要なライブラリを確認してください。"
0x0072   "指定されたパスが正しくありません。"
0x0073   "使用中のファイルが多すぎます。

いくつかのWindowsアプリケーションを終了するか、CONFIG.SYSのFILESの値を増やしてから、やり直してください。"
0x0074   "指定されたファイルに関連付けられたアプリケーションはありません。

[ファイル] メニューの [アプリケーションとの関連付け] コマンドを使って設定してください。"
0x0075   "このアプリケーションは、一度に複数起動できません。"
0x0076   "ファイルを開けないか、または印刷ができません。

このファイルを作成したアプリケーションに切り替えて操作してください。"
0x0078   "マウスの操作の確認"
0x0079   "選択されたファイルを %s にコピーしてよろしいですか?"
0x007a   "選択されたファイルを %s に移動してよろしいですか?"
0x007b   "%s ファイルを、%s プログラムから開きます。よろしいですか?"
0x007c   "ファイル マネージャ"
0x007e   "ファイル マネージャ"
0x007f   "検索結果: "

Ordinal  String
---------------------------------------------------------------
0x00e0   "拡張子 %s のファイルはプログラムなので、ほかのアプリケーションを関連付けることはできません。"
0x00e1   "%s はプログラムではないので、拡張子で関連付けることはできません。"
0x00e2   "(無題)"
0x00e3   "ファイルが見つかりません。"
0x00e4   "複数のファイルは印刷できません。

ファイルを1つだけ選択してやり直してください。"
0x00e5   "必要なファイルが圧縮されています。

MS-DOSのEXPANDコマンドを使ってWindowsのセットアップ ディスクからファイルをコピーしてください。"
0x00e6   "起動に必要なライブラリ ファイルが壊れています。このアプリケーションをセットアップし直してください。"
0x00e7   "このファイルはほかのアプリケーションが使っています。"
0x00e8   "ファイル マネージャがディレクトリ "%s" にアクセスできないことがあります。

続けますか?"
0x00e9   "ディレクトリの作成"
0x00ea   "%ld バイト"
0x00eb   "%s バイト"
0x00ec   "複数のファイルまたはディレクトリはクリップボードにコピーできません。

1つのファイルを指定してやり直してください。"

Ordinal  String
---------------------------------------------------------------
0x0084   "ファイルが多すぎます。"
0x0085   "ファイル マネージャ - メモリ不足"
0x0086   "すべてのディレクトリは読めません。一部だけが表示されます。"
0x008c   "現在のディレクトリは、 %sです。"
0x008d   "ファイル/ディレクトリのコピー"
0x008f   "ファイル/ディレクトリの名前の変更"

Ordinal  String
---------------------------------------------------------------
0x0091   "フロッピー ディスクのフォーマット"
0x0092   "ドライブを選択してください。"
0x0094   "ネットワークの切断(Dｾ)..."
0x0096   "作成中:"
0x0097   "削除しています..."
0x0098   "コピーしています..."
0x0099   "名前を変更しています..."
0x009a   "移動しています..."
0x009b   "削除しています..."
0x009c   " %s を印刷中..."

Ordinal  String
---------------------------------------------------------------
0x07d0   "コピー元(Fﾓ):"
0x07d1   "コピー先(Tｻ):"
0x07d2   "元の名前(Fﾓ):"
0x07d3   "新しい名前(Tｱ):"
0x07d4   "コピー先:"
0x07d5   "このフォントを使用すると漢字の表示が
できなくなります。"

Ordinal  String
---------------------------------------------------------------
0x00a0   "ドライブ %c は存在しません。"
0x00a9   "コピー中..."
0x00aa   "削除中:"

Ordinal  String
---------------------------------------------------------------
0x01a4   "開いています..."
0x01a5   "閉じています..."
0x01a6   "開いているディレクトリ ウィンドウが多すぎます。

いくつかを閉じてから、やり直してください。"

Ordinal  String
---------------------------------------------------------------
0x00fa   "ドライブ %c の準備ができていません。

コンパクト ディスクを挿入してやり直してください。"

Ordinal  String
---------------------------------------------------------------
0x03e9   "ファイル移動のエラー"
0x03ea   "ファイル コピーのエラー"
0x03eb   "ファイル削除のエラー"
0x03ec   "ファイル名変更のエラー"
0x03ed   "ドライブ選択のエラー"
0x03ee   "ディレクトリの読み込みエラー"
0x03ef   "ボリューム ラベル作成のエラー"

Ordinal  String
---------------------------------------------------------------
0x03f3   "%s は移動できません。%s"
0x03f4   "%s はコピーできません。%s"
0x03f5   "%s は削除できません。%s"
0x03f6   "%s は名前を変更できません。%s"
0x03fd   "ディレクトリ %s は作成できません。%s"
0x03fe   "ディレクトリ %s は削除できません。%s"

Ordinal  String
---------------------------------------------------------------
0x0406   "%s は作成または上書きできません。%s"

Ordinal  String
---------------------------------------------------------------
0x0411   "DOSファンクションが正しくありません。"
0x0412   "ファイルが見つかりません。

指定したパスおよびファイル名が正しいか確認してください。"
0x0413   "パスが見つかりません。

指定したパスが正しい確認してください。"
0x0414   "使用中のファイルが多すぎます。いくつかのWindowaアプリケーションを終了してください。"
0x0415   "アクセスは拒否されました。

書き込み禁止でないか、ディレクトリ内にファイルが残っていないかを確認してください。"
0x0416   "ファイル ハンドルが正しくありません。"
0x0418   "メモリが足りません。

いくつかのWindowsアプリケーションを終了してから、やり直してください。"
0x041c   "ファイルへのアクセスが正しくありません。"

Ordinal  String
---------------------------------------------------------------
0x0420   "現在のディレクトリを削除できません(内部エラー)。"
0x0421   "デバイスが正しくありません。"
0x0422   "ディレクトリが空です。"
0x0423   "ディスクが書き込み禁止です。

このディスクの書き込み禁止属性を解除するか、別のディスクを使って、やり直してください。"
0x042d   "書き込みが失敗しました。書き込み先のファイルまたはディスクが壊れている可能性があります。"
0x042f   "ロードに失敗しました。読み出し元のファイルまたはディスクが壊れている可能性があります。"

Ordinal  String
---------------------------------------------------------------
0x050f   "操作が正しくありません。"

Ordinal  String
---------------------------------------------------------------
0x0451   "ネットワークへのアクセスは拒否されました。この操作を実行できるパーミッションがあるか確認してください。"

Ordinal  String
---------------------------------------------------------------
0x0430   "共有違反です。ほかで使われている可能性があります。"

Ordinal  String
---------------------------------------------------------------
0x0480   "ディスク容量が足りません。

不要なファイルを削除して空きディスク容量を増やしてから、やり直してください。"
0x0481   "転送元と転送先が同じです。"
0x0482   "名前を変更するには、1つのファイルだけを指定してください。同様の名前のファイル名を変更するには、ワイルドカード(たとえば *.TXT)を使ってください。"
0x0483   "異なるディレクトリまたはディスクの名前には変更できません。"
0x0484   "ルート ディレクトリです(内部エラー)。"
0x0486   "転送先のディレクトリは転送元のサブ ディレクトリです。"
0x0487   "このファイルはWindowsが使っています。"
0x0488   "アクセスは拒否されました。転送元のファイルは使われている可能性があります。"
0x0489   "パスが長すぎます。"
0x048a   "1つのファイルまたはディレクトリを指定してください。ファイルのグループを指定したきときは、ワイルドカード(たとえば *.TXT)を使ってください。"
0x048b   "指定されたファイルはすでに存在します。別の名前を指定してやり直してください。"

Ordinal  String
---------------------------------------------------------------
0x012c   "1.2 MB"
0x012d   "1.44 MB"
0x012f   "360 KB"

Ordinal  String
---------------------------------------------------------------
0x0131   "720 KB"
0x0133   "2.88 MB"
0x0134   "ドライブの容量"

Ordinal  String
---------------------------------------------------------------
0x0190   "メモリ不足です。"
0x0192   "MS-DOSのスタートアップ ドライブはフォーマットできません。"
0x0193   "MS-DOSのスタートアップ ドライブに不正なセクタ サイズがあります。"
0x0194   "このドライブは使えません。"
0x0199   "システム ファイルの転送に失敗しました。"
0x019a   "このディスクは %s の容量ではフォーマットできません。この容量でのフォーマットを続けますか?"
0x019b   "ﾌﾛｯﾋﾟｰ ﾃﾞｨｽｸをﾌｫｰﾏｯﾄできません。

ﾌﾛｯﾋﾟｰ ﾃﾞｨｽｸがﾄﾞﾗｲﾌﾞに挿入されているか、書き込み禁止でないか、壊れていないか、ﾃﾞｨｽｸの種類が間違っていないかを確認してください。"


