/********************************************************************

    Resources that were extracted from a binary that ran on 16-bit Windows.

    Copyright(c) Microsoft Corporation.All rights reserved.
    Licensed under the MIT License.

********************************************************************/

500 MENU
BEGIN
    POPUP   "文件(&F)"
    BEGIN
    MENUITEM    "打开(&O)	Enter", 0X0065
    MENUITEM    "移动(&M)...	F7", 0X006A
    MENUITEM    "复制(&C)...	F8", 0X006B
    MENUITEM    "删除(&D)...	Del", 0X006C
    MENUITEM    "重命名(&N)...", 0X006D
    MENUITEM    "特性(&T)...	Alt+Enter", 0X006E
    MENUITEM    "", 0X0000
    MENUITEM    "运行(&R)...", 0X0069
    MENUITEM    "打印(&P)...", 0X0066
    MENUITEM    "关联(&A)...", 0X0067
    MENUITEM    "", 0X0000
    MENUITEM    "创建目录(&E)...", 0X006F
    MENUITEM    "搜索(&H)...", 0X0068
    MENUITEM    "选定文件(&S)...", 0X0074
    MENUITEM    "", 0X0000
    MENUITEM    "退出(&X)", 0X0073
    END
    POPUP   "磁盘(&D)"
    BEGIN
    MENUITEM    "复制磁盘(&C)...", 0X00C9
    MENUITEM    "标识磁盘(&L)...", 0X00CA
    MENUITEM    "", 0X0000
    MENUITEM    "格式化磁盘(&F)...", 0X00CB
    MENUITEM    "制作系统盘(&M)...", 0X00CC
    MENUITEM    "", 0X0000
    MENUITEM    "选定磁盘驱动器(&S)...", 0X00FB
    END
    POPUP   "树(&T)"
    BEGIN
    MENUITEM    "展开一层(&X)	+", 0X012D
    MENUITEM    "展开分支(&B)	*", 0X012E
    MENUITEM    "展开全部(&A)	Ctrl+*", 0X012F
    MENUITEM    "折叠分支(&C)	-", 0X0130
    MENUITEM    "", 0X0000
    MENUITEM    "标注可扩展的分支(&I)", 0X01F9
    END
    POPUP   "查看(&V)"
    BEGIN
    MENUITEM    "树与目录(&R)", 0X019D
    MENUITEM    "树(&E)", 0X019B
    MENUITEM    "目录(&O)", 0X019C
    MENUITEM    "", 0X0000
    MENUITEM    "分隔(&L)", 0X019E
    MENUITEM    "", 0X0000
    MENUITEM    "名字(&N)", 0X0191
    MENUITEM    "文件的全部详细资料(&A)", 0X0192
    MENUITEM    "部分详细资料(&P)...", 0X0193
    MENUITEM    "", 0X0000
    MENUITEM    "按名字排序(&S)", 0X0194
    MENUITEM    "按类型排序(&B)", 0X0195
    MENUITEM    "按大小排序(&Z)", 0X0196
    MENUITEM    "按日期排序(&D)", 0X0197
    MENUITEM    "", 0X0000
    MENUITEM    "按文件类型(&T)...", 0X0199
    END
    POPUP   "选项(&O)"
    BEGIN
    MENUITEM    "确认(&C)...", 0X01F5
    MENUITEM    "字体(&F)...", 0X01FE
    MENUITEM    "", 0X0000
    MENUITEM    "状态栏(&S)", 0X01F7
    MENUITEM    "自动缩成图标(&M)", 0X01F8
    MENUITEM    "退出时保存设定值(&E)", 0X01FF
    END
    POPUP   "窗口(&W)"
    BEGIN
    MENUITEM    "新建窗口(&N)", 0X03ED
    MENUITEM    "层叠(&C)	Shift+F5", 0X03E9
    MENUITEM    "平铺(&T)	Shift+F4", 0X03EA
    MENUITEM    "排列图标(&A)", 0X03EC
    MENUITEM    "刷新(&R)	F5", 0X03EB
    END
    POPUP   "帮助(&H)"
    BEGIN
    MENUITEM    "目录(&C)", 0X044D
    MENUITEM    "搜索关于...的帮助(&S)", 0X001E
    MENUITEM    "帮助使用方法(&H)", 0X044E
    MENUITEM    "", 0X0000
    MENUITEM    "关于文件管理器(&A)...", 0X044F
    END
END


145 DIALOG 0x80c8, 13, 54, 269, 142
CAPTION "字体"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "字体(&F):", 1088, 0x0000, 6, 3, 40, 9
    CONTROL 0x85, "", 1136, 0x0351, 6, 13, 94, 54
    CONTROL 0x82, "字形(&Y):", 1089, 0x0000, 108, 3, 44, 9
    CONTROL 0x85, "", 1137, 0x0001, 108, 13, 64, 54
    CONTROL 0x82, "大小(&S):", 1090, 0x0000, 179, 3, 30, 9
    CONTROL 0x85, "", 1138, 0x0311, 179, 13, 32, 54
    CONTROL 0x80, "效果", 1072, 0x0007, 6, 72, 84, 68
    CONTROL 0x80, "删除线(&K)", 1040, 0x0003, 10, 82, 49, 10
    CONTROL 0x80, "下划线(&U)", 1041, 0x0003, 10, 94, 51, 10
    CONTROL 0x80, "小写(&L)", 1042, 0x0003, 10, 82, 49, 10
    CONTROL 0x82, "颜色(&C):", 1091, 0x0000, 10, 106, 30, 9
    CONTROL 0x85, "", 1139, 0x0253, 10, 116, 75, 50
    CONTROL 0x80, "确定", 1, 0x0001, 218, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 218, 23, 45, 14
    CONTROL 0x80, "应用(&A)...", 1026, 0x0000, 218, 40, 45, 14
    CONTROL 0x80, "帮助(&H)", 1038, 0x0000, 218, 57, 45, 14
    CONTROL 0x80, "字样", 1073, 0x0007, 98, 72, 165, 49
    CONTROL 0x82, "", 1093, 0x0081, 98, 124, 160, 20
    CONTROL 0x82, "AaBbYyZz", 1092, 0x0081, 104, 81, 149, 37
END

45 DIALOG 0x80c8, 11, 31, 201, 86
CAPTION "选定驱动器"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "驱动器(&D):", 245, 0x000c, 5, 5, 41, 10
    CONTROL 0x83, "", 222, 0x0083, 5, 16, 140, 60
    CONTROL 0x80, "确定", 1, 0x0001, 150, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 150, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 150, 44, 45, 14
END

10 DIALOG 0x80c8, 15, 12, 210, 63
CAPTION "运行"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008b, 3, 6, 157, 10
    CONTROL 0x82, "命令行(&C):", 100, 0x000c, 3, 18, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 3, 29, 134, 12
    CONTROL 0x80, "运行时最小化(&M)", 214, 0x0003, 3, 45, 71, 12
    CONTROL 0x80, "确定", 1, 0x0001, 160, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 160, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 160, 43, 45, 14
END

44 DIALOG 0x80c8, 15, 12, 121, 83
CAPTION "选定文件"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "文件(&F):", -1, 0x000c, 5, 16, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 5, 29, 60, 12
    CONTROL 0x80, "选定(&S)", 1, 0x0001, 70, 6, 45, 14
    CONTROL 0x80, "撤销选定(&D)", 6, 0x0000, 70, 23, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 70, 40, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 70, 63, 45, 14
END

39 DIALOG 0x80c8, 10, 20, 245, 95
CAPTION "确认文件替换"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "替换文件:", 100, 0x000c, 25, 12, 49, 10
    CONTROL 0x82, "", 103, 0x008c, 75, 12, 165, 10
    CONTROL 0x82, "", 105, 0x000c, 75, 22, 170, 10
    CONTROL 0x82, "替换为", 100, 0x000c, 25, 34, 49, 10
    CONTROL 0x82, "", 102, 0x008c, 75, 34, 165, 10
    CONTROL 0x82, "", 106, 0x000c, 75, 44, 170, 10
    CONTROL 0x80, "要(&Y)", 6, 0x0001, 33, 73, 40, 14
    CONTROL 0x80, "全换(&A)", 107, 0x0000, 77, 73, 44, 14
    CONTROL 0x80, "不要(&N)", 7, 0x0000, 125, 73, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 73, 40, 14
END

40 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "确认文件删除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x000c, 25, 3, 203, 10
    CONTROL 0x82, "文件删除", 100, 0x000c, 25, 18, 44, 10
    CONTROL 0x82, "", 102, 0x008c, 70, 18, 170, 10
    CONTROL 0x80, "删除(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部删除(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "不删除(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

41 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "确认目录删除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "目录删除:", 100, 0x000c, 25, 18, 55, 10
    CONTROL 0x82, "", 102, 0x008c, 80, 18, 160, 10
    CONTROL 0x80, "删除(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部删除(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "不删除(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

42 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "确认文件移动"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "移动文件:", 100, 0x000c, 25, 18, 44, 10
    CONTROL 0x82, "", 102, 0x008c, 70, 18, 170, 10
    CONTROL 0x80, "删除(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部删除(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "不删除(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

43 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "确认文件重命名"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "待重命名文件:", 100, 0x000c, 25, 13, 54, 10
    CONTROL 0x82, "", 102, 0x008c, 80, 13, 160, 10
    CONTROL 0x80, "要(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部都要(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "不要(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

11 DIALOG 0x80c8, 20, 20, 240, 63
CAPTION "打印"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 193, 10
    CONTROL 0x82, "打印(&P):", 100, 0x000c, 3, 20, 30, 10
    CONTROL 0x81, "", 102, 0x0480, 34, 18, 155, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 36, 190, 10
    CONTROL 0x80, "确定", 1, 0x0001, 192, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 192, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 192, 43, 45, 14
END

13 DIALOG 0x80c8, 20, 20, 263, 63
CAPTION "搜索"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "搜索目标(&S):", 100, 0x000c, 5, 6, 45, 12
    CONTROL 0x81, "", 201, 0x0480, 52, 5, 155, 12
    CONTROL 0x82, "从...开始(&F):", 100, 0x000c, 5, 21, 45, 12
    CONTROL 0x81, "", 101, 0x0480, 52, 20, 155, 12
    CONTROL 0x80, "搜索全部子目录(&E)", 232, 0x0003, 52, 34, 100, 12
    CONTROL 0x80, "确定", 1, 0x0001, 212, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 212, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 212, 43, 45, 14
END

14 DIALOG 0x80c8, 47, 59, 231, 64
CAPTION "移动"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "当前目录: N", 101, 0x008b, 3, 6, 172, 10
    CONTROL 0x82, "到(&T):", 100, 0x000c, 3, 33, 20, 10
    CONTROL 0x81, "", 103, 0x0480, 37, 32, 138, 12
    CONTROL 0x80, "", 257, 0x0004, 26, 33, 10, 10
    CONTROL 0x80, "复制到剪贴板(&C)", 256, 0x0004, 26, 47, 72, 12
    CONTROL 0x82, "", 104, 0x008b, 3, 49, 40, 10
    CONTROL 0x82, "", 201, 0x008b, 45, 49, 130, 10
    CONTROL 0x80, "确定", 1, 0x0001, 180, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 180, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 180, 44, 45, 14
    CONTROL 0x82, "从...(&F):", 100, 0x000c, 3, 19, 30, 10
    CONTROL 0x81, "", 102, 0x0480, 37, 18, 138, 12
END

15 DIALOG 0x80c8, 20, 20, 246, 64
CAPTION "删除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "当前目录: C", 101, 0x008c, 3, 5, 193, 10
    CONTROL 0x82, "删除(&L):", 100, 0x000c, 3, 20, 35, 10
    CONTROL 0x81, "", 102, 0x0480, 40, 19, 150, 12
    CONTROL 0x82, "", 104, 0x008b, 3, 35, 35, 10
    CONTROL 0x82, "", 201, 0x008b, 40, 35, 150, 10
    CONTROL 0x80, "确定", 1, 0x0001, 195, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 195, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 195, 43, 45, 14
END

38 DIALOG 0x80c8, 20, 20, 206, 65
CAPTION "特性"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "%d 文件被选定, 总共 %s 字节", 100, 0x000c, 5, 5, 144, 10
    CONTROL 0x80, "属性", -1, 0x0007, 5, 18, 120, 42
    CONTROL 0x80, "只读(&R)", 215, 0x0003, 10, 29, 52, 12
    CONTROL 0x80, "隐式(&I)", 216, 0x0003, 72, 29, 52, 12
    CONTROL 0x80, "档案文件(&A)", 217, 0x0003, 10, 41, 52, 12
    CONTROL 0x80, "系统(&S)", 218, 0x0003, 72, 41, 52, 12
    CONTROL 0x80, "确定", 1, 0x0001, 150, 6, 50, 14
    CONTROL 0x80, "取消", 2, 0x0000, 150, 23, 50, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 150, 43, 50, 14
END

16 DIALOG 0x80c8, 33, 44, 231, 100
CAPTION "%s 的特性"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "确定", 1, 0x0001, 175, 6, 50, 14
    CONTROL 0x80, "取消", 2, 0x0000, 175, 23, 50, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 175, 43, 50, 14
    CONTROL 0x82, "文件名(&F):", 100, 0x000c, 5, 5, 50, 10
    CONTROL 0x81, "", 201, 0x0880, 55, 4, 118, 10
    CONTROL 0x82, "大小 ", 100, 0x000c, 5, 16, 40, 10
    CONTROL 0x82, "", 203, 0x000c, 55, 16, 90, 10
    CONTROL 0x82, "上次修改 ", 100, 0x000c, 5, 27, 57, 10
    CONTROL 0x82, "", 204, 0x000c, 55, 27, 97, 10
    CONTROL 0x82, "路径:", 100, 0x000c, 5, 38, 46, 10
    CONTROL 0x81, "", 101, 0x0880, 55, 38, 118, 10
    CONTROL 0x80, "属性", 100, 0x0007, 4, 52, 120, 42
    CONTROL 0x80, "只读(&R)", 215, 0x0003, 9, 64, 52, 12
    CONTROL 0x80, "隐式(&I)", 216, 0x0003, 71, 64, 49, 12
    CONTROL 0x80, "档案文件(&A)", 217, 0x0003, 9, 76, 52, 12
    CONTROL 0x80, "系统(&S)", 218, 0x0003, 71, 76, 49, 12
END

17 DIALOG 0x80c8, 20, 20, 200, 63
CAPTION "创建目录"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 154, 10
    CONTROL 0x82, "名字(&N):", 100, 0x000c, 3, 23, 30, 10
    CONTROL 0x81, "", 201, 0x0480, 40, 22, 100, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 46, 150, 10
    CONTROL 0x80, "确定", 1, 0x0001, 152, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 152, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 152, 43, 45, 14
END

47 DIALOG 0x80c8, 20, 20, 157, 64
CAPTION "制作系统盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "复制系统文件到磁盘(&C):", -1, 0x000c, 5, 8, 100, 10
    CONTROL 0x85, "", 222, 0x0003, 30, 20, 40, 37
    CONTROL 0x80, "确定", 1, 0x0001, 105, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 105, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 105, 43, 45, 14
END

19 DIALOG 0x80c8, 20, 20, 157, 64
CAPTION "复制磁盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "源盘(&S):", -1, 0x000c, 5, 8, 50, 10
    CONTROL 0x85, "", 245, 0x0003, 57, 6, 40, 37
    CONTROL 0x82, "目的盘(&D):", 206, 0x000c, 5, 22, 50, 10
    CONTROL 0x85, "", 222, 0x0003, 57, 20, 40, 37
    CONTROL 0x80, "确定", 1, 0x0001, 109, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 109, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 109, 43, 45, 14
END

22 DIALOG 0x90c8, 30, 30, 130, 55
CAPTION "复制磁盘"
FONT 12, "System"
STYLE 0x00c2
    CONTROL 0x82, "现在复制盘位于", 100, 0x0001, 0, 5, 130, 10
    CONTROL 0x82, "驱动器 A ", 222, 0x0001, 0, 15, 130, 10
    CONTROL 0x82, "读入源磁盘", 243, 0x0001, 0, 26, 130, 10
    CONTROL 0x80, "取消", 2, 0x0001, 44, 39, 44, 14
END

23 DIALOG 0x80c8, 20, 20, 161, 63
CAPTION "标识磁盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "标识名(&L):", 100, 0x000c, 5, 15, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 5, 26, 100, 12
    CONTROL 0x80, "确定", 1, 0x0001, 112, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 112, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 112, 43, 45, 14
END

24 DIALOG 0x90c8, 11, 28, 183, 96
CAPTION "格式化磁盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "确定", 1, 0x0001, 135, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 135, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 135, 43, 45, 14
    CONTROL 0x82, "磁盘在...(&D):", -1, 0x000c, 5, 7, 49, 10
    CONTROL 0x85, "", 222, 0x0003, 55, 4, 65, 40
    CONTROL 0x82, "容量(&C):", 100, 0x000c, 5, 20, 49, 10
    CONTROL 0x85, "", 241, 0x0003, 55, 19, 65, 40
    CONTROL 0x80, "选项", 102, 0x0007, 5, 39, 115, 53
    CONTROL 0x82, "标识名(&L):", -1, 0x000c, 11, 51, 39, 10
    CONTROL 0x81, "", 201, 0x0000, 50, 49, 63, 12
    CONTROL 0x80, "制作系统盘(&M)", 242, 0x0003, 11, 62, 90, 12
    CONTROL 0x80, "快速格式化(&Q)", 244, 0x0003, 11, 76, 90, 12
END

26 DIALOG 0x90c8, 30, 30, 150, 50
CAPTION "格式化磁盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "正在格式化磁盘", 100, 0x0001, 0, 5, 150, 10
    CONTROL 0x82, "初始化磁盘驱动器...", 243, 0x0001, 0, 17, 150, 10
    CONTROL 0x80, "取消", 2, 0x0001, 54, 30, 44, 14
END

27 DIALOG 0x90c8, 30, 30, 174, 57
CAPTION "制作系统盘"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "正在复制系统文件", 100, 0x0001, 0, 6, 174, 8
    CONTROL 0x82, "如要放弃, 请按取消.", 100, 0x0001, 0, 14, 174, 8
    CONTROL 0x80, "取消", 2, 0x0001, 66, 39, 44, 14
END

28 DIALOG 0x80c8, 12, 28, 241, 135
CAPTION "网络连接"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "新连接", -1, 0x0007, 5, 3, 170, 55
    CONTROL 0x82, "网络路径(&N):", -1, 0x0000, 10, 16, 55, 10
    CONTROL 0x81, "", 223, 0x0480, 65, 14, 100, 12
    CONTROL 0x82, "磁盘驱动器(&R):", -1, 0x0000, 10, 30, 55, 10
    CONTROL 0x85, "", 222, 0x0003, 65, 28, 40, 100
    CONTROL 0x82, "口令(&W):", -1, 0x0000, 10, 44, 36, 10
    CONTROL 0x81, "", 224, 0x04a0, 65, 42, 100, 12
    CONTROL 0x82, "目前磁盘驱动器的连接(&V)", -1, 0x0000, 5, 62, 120, 10
    CONTROL 0x83, "", 245, 0x1003, 5, 73, 160, 60
    CONTROL 0x80, "关闭(&L)", 2, 0x0001, 190, 6, 45, 14
    CONTROL 0x80, "连接(&C)", 1, 0x0000, 190, 27, 45, 14
    CONTROL 0x80, "先前的(&P)...", 226, 0x0000, 190, 44, 45, 14
    CONTROL 0x80, "浏览(&B)...", 227, 0x0000, 190, 61, 45, 14
    CONTROL 0x80, "切断连接(&D)", 255, 0x0000, 190, 78, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 190, 95, 45, 14
END

29 DIALOG 0x80c8, 30, 30, 231, 98
CAPTION "先前的网络连接"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "网络路径(&P):", 100, 0x000c, 3, 3, 69, 10
    CONTROL 0x83, "", 226, 0x0003, 3, 15, 172, 80
    CONTROL 0x80, "选定(&S)", 1, 0x0001, 181, 6, 44, 14
    CONTROL 0x80, "关闭", 2, 0x0000, 181, 24, 44, 14
    CONTROL 0x80, "删除(&D)", 219, 0x0000, 181, 41, 44, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 181, 58, 44, 14
END

30 DIALOG 0x80c8, 20, 20, 168, 65
CAPTION "部分详细资料"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "详细资料", 100, 0x0007, 4, 4, 111, 55
    CONTROL 0x80, "大小(&S)", 203, 0x0003, 11, 15, 100, 9
    CONTROL 0x80, "上次修改日期(&M)", 204, 0x0003, 11, 25, 100, 9
    CONTROL 0x80, "上次修改时间(&T)", 205, 0x0003, 11, 35, 100, 9
    CONTROL 0x80, "文件属性(&F)", 206, 0x0003, 11, 45, 100, 9
    CONTROL 0x80, "确定", 1, 0x0001, 120, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 120, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 120, 43, 45, 14
END

32 DIALOG 0x80c8, 20, 20, 157, 102
CAPTION "按文件类型"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "名字(&N):", 100, 0x000c, 5, 8, 29, 10
    CONTROL 0x81, "", 201, 0x0480, 34, 6, 65, 12
    CONTROL 0x80, "文件类型", 100, 0x0007, 5, 20, 94, 62
    CONTROL 0x80, "目录(&D)", 101, 0x0003, 10, 31, 60, 12
    CONTROL 0x80, "程序(&P)", 210, 0x0003, 10, 43, 60, 12
    CONTROL 0x80, "文档(&M)", 211, 0x0003, 10, 55, 60, 12
    CONTROL 0x80, "其它文件(&O)", 212, 0x0003, 10, 67, 60, 12
    CONTROL 0x80, "显示隐式/系统文件(&S)", 250, 0x0003, 5, 85, 100, 12
    CONTROL 0x80, "确定", 1, 0x0001, 107, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 107, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 107, 43, 45, 14
END

33 DIALOG 0x80c8, 20, 20, 164, 80
CAPTION "确认"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "确认", 100, 0x0007, 5, 3, 108, 73
    CONTROL 0x80, "文件删除(&D)", 219, 0x0003, 10, 15, 80, 12
    CONTROL 0x80, "目录删除(&I)", 220, 0x0003, 10, 27, 80, 12
    CONTROL 0x80, "文件替换(&R)", 221, 0x0003, 10, 39, 80, 12
    CONTROL 0x80, "鼠标动作(&M)", 249, 0x0003, 10, 51, 80, 12
    CONTROL 0x80, "磁盘操作命令(&K)", 251, 0x0003, 10, 63, 80, 12
    CONTROL 0x80, "确定", 1, 0x0001, 115, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 115, 23, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 115, 44, 45, 14
END

35 DIALOG 0x80c8, 20, 20, 250, 46
CAPTION "移动..."
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 104, 0x008b, 5, 5, 49, 10
    CONTROL 0x82, "", 201, 0x008b, 55, 5, 192, 10
    CONTROL 0x82, "到:", 108, 0x008b, 5, 15, 25, 10
    CONTROL 0x82, "", 109, 0x008b, 55, 15, 192, 10
    CONTROL 0x80, "取消", 2, 0x0001, 200, 28, 40, 14
END

36 DIALOG 0x80c8, 20, 20, 120, 58
CAPTION ""
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "打印文件...", -1, 0x0001, 4, 6, 120, 12
    CONTROL 0x82, "", 100, 0x0081, 4, 20, 120, 12
    CONTROL 0x80, "取消", 2, 0x0001, 44, 40, 32, 14
END

12 DIALOG 0x80c8, 31, 39, 211, 96
CAPTION "关联"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "文件扩展名(&F):", 99, 0x000c, 5, 8, 60, 10
    CONTROL 0x81, "", 112, 0x0400, 65, 6, 50, 12
    CONTROL 0x82, "关联文件(&A):", 99, 0x000c, 5, 22, 150, 10
    CONTROL 0x81, "", 113, 0x0080, 5, 32, 148, 12
    CONTROL 0x83, "", 111, 0x1003, 11, 44, 146, 40
    CONTROL 0x80, "确定", 1, 0x0001, 162, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 162, 23, 45, 14
    CONTROL 0x80, "浏览(&B)...", 232, 0x0000, 162, 43, 45, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 162, 60, 45, 14
END

46 DIALOG 0x80c8, 11, 28, 250, 78
CAPTION "选定文件"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "此路径不符合 DOS 文件名格式. 请输入新名字.", 99, 0x0000, 4, 9, 196, 11
    CONTROL 0x82, "新名字(&N):", 99, 0x0002, 5, 56, 50, 12
    CONTROL 0x81, "", 103, 0x0000, 57, 55, 130, 12
    CONTROL 0x82, "原始路径:", 99, 0x0002, 5, 28, 50, 11
    CONTROL 0x81, "", 102, 0x0880, 57, 28, 130, 12
    CONTROL 0x82, "到目录:", 99, 0x0002, 5, 42, 50, 11
    CONTROL 0x81, "", 101, 0x0880, 57, 42, 130, 12
    CONTROL 0x80, "确定", 1, 0x0001, 205, 4, 44, 14
    CONTROL 0x80, "取消", 2, 0x0000, 205, 20, 44, 14
    CONTROL 0x80, "帮助(&H)", 254, 0x0000, 205, 36, 44, 14
END


Ordinal  String
---------------------------------------------------------------
0x0028   "退出 Windows"
0x0029   "结束本次 Windows 操作."

Ordinal  String
---------------------------------------------------------------
0x0032   "复制磁盘"
0x0033   "插入目的盘."
0x0034   "插入源盘."
0x0035   "插入源盘和目的磁盘."
0x0036   "格式化目的磁盘."
0x0037   "复制磁盘错误"
0x0038   "不能复制磁盘."
0x003a   "源盘和目的盘的驱动器不兼容."
0x003c   "已完成 %d%% "
0x003d   "创建根目录..."
0x003e   "复制系统文件..."
0x003f   "格式化磁盘错误"

Ordinal  String
---------------------------------------------------------------
0x00c0   "没有足够的磁盘空间用来打印.

请删除一个或多个文件以增加磁盘空间, 然后再试一次."
0x00c1   "没有足够的内存用来打印.

请退出一个或多个应用程序, 然后再试一次."
0x00c2   "打印时出错.

请确定打印机配置正确,并被选定."
0x00c3   "显示不完整的目录树"
0x00c5   "目的磁盘已满.

请插入一块新盘后继续."
0x00c6   "这是一个系统文件、隐式文件或只读文件."
0x00c7   "不能快速格式化.

是否继续正常的格式化 ?"
0x00c8   "指定的应用程序不是 Windows 或 MS-DOS 程序."
0x00c9   "应用程序要求较新版本的 Microsoft Windows."
0x00ca   "应用程序要求 Windows 环境."
0x00cb   "向应用程序发送命令时发生错误."

Ordinal  String
---------------------------------------------------------------
0x0040   "不能格式化磁盘."
0x0042   "完成格式化"
0x0043   "全部磁盘空间共 %ld 字节
可用磁盘空间为 %ld 字节

是否要格式化另一磁盘 ?"
0x0046   "制作系统盘"
0x0047   "是否确定要将系统文件复制到磁盘驱动器 %C 的磁盘上 ?"
0x0048   "系统盘错误"
0x0049   "MS-DOS 启动驱动器中没有系统文件或系统文件不能使用."
0x004a   "无法复制系统文件到 MS-DOS 启动驱动器上."
0x004b   "无法将系统文件加入到此磁盘上.

请确定磁盘驱动器中的磁盘已格式化, 并且驱动器口已关闭."

Ordinal  String
---------------------------------------------------------------
0x0050   "网络错误"
0x0053   "磁盘驱动器包含 Windows 系统文件, 不能断开."
0x005b   "无法改变属性.

请确定此磁盘没有写保护."
0x005c   "无法创建目录.

请确定此磁盘没有写保护."
0x005d   "无法给磁盘命名.

请检查此磁盘是否有写保护, 是否为网络驱动器, 以及标识名是否合法.标识名中不能含有以下字符:
[space] * ? / \ | . , ; : + = [ ] ( ) & ^ < > " "
0x005f   "找不到匹配的文件."

Ordinal  String
---------------------------------------------------------------
0x00b4   "共有 %d 个文件 (%s 字节)"
0x00b5   "已读取的目录有: %d "
0x00b6   "%c: %s KB 可用, 共有 %s KB "
0x00b7   "已找到 %d 个文件"
0x00b9   "选定的文件"
0x00ba   "无法断开网络驱动器.

此驱动器中的文件已打开."
0x00bb   "选定了 %d 个文件 (%s 字节)"
0x00bc   "磁盘驱动器 %c 中没有磁盘.

请插入磁盘,再试一次."
0x00bd   "磁盘驱动器 %c 中的磁盘没有格式化.

是否现在格式化?"
0x00bf   "找不到要打印的文件. 请确定指定的路径和文件名是否正确."

Ordinal  String
---------------------------------------------------------------
0x0060   "目录已存在."
0x0061   "磁盘内容已经修改. 是否要更新搜索结果窗口 ?"
0x0065   "磁盘驱动器 %c:%c"
0x006e   "无法运行程序"
0x006f   "意外错误: %d."

Ordinal  String
---------------------------------------------------------------
0x00d2   "格式化将擦除磁盘上的所有数据. 是否确定要格式化磁盘驱动器 %c 中的磁盘 ?"
0x00d3   "确认格式化磁盘"
0x00d4   "此操作将删除目的磁盘上的所有数据. 是否继续 ?"
0x00d5   "确认复制磁盘"
0x00d6   "关闭(&C)"
0x00d7   "不删除(&U)..."
0x00d8   "连接网络驱动器(&N)..."
0x00d9   "网络连接(&N)..."
0x00da   "目录 %s 不存在.

是否要创建 ?"
0x00db   "Programs#*.exe;*.pif;*.com;*.bat#All Files (*.*)#*.*#"
0x00dc   "浏览"
0x00dd   "运行"
0x00de   "无法打印文件"
0x00df   "不能显示帮助信息."

Ordinal  String
---------------------------------------------------------------
0x0070   "没有足够的内存用于启动指定的应用程序.

请退出一个或多个应用程序,再试一次."
0x0071   "不能找到文件 (或它的一个组件).

请确定路径与文件名是正确的, 并且所有要求的程序库都是可用的."
0x0072   "指定的路径非法."
0x0073   "当前使用的文件太多.

请退出一个或多个应用程序或增加 CONFIG.SYS 中的 FILES 值, 然后再试一次."
0x0074   "没有应用程序与此文件相关联.

请从文件菜单下选择'关联'命令建立关联."
0x0075   "不能启动指定程序的多个副本."
0x0076   "不能打开或打印文件.

请启动创建此文件的应用程序, 并从应用程序中打开或打印文件."
0x0078   "请确认鼠标器操作"
0x0079   "请确定是否要把选定的文件或目录复制到 %s ?"
0x007a   "请确定是否要把选定的文件或目录移动到 %s ?"
0x007b   "请确定是否要启动%s, 且将 %s 作为初始文件 ?"
0x007c   "文件管理器"
0x007e   "目录树"
0x007f   "搜索结果: "

Ordinal  String
---------------------------------------------------------------
0x00e0   "具有扩展名 %s 的文件是程序, 不能与另一个应用程序相关联."
0x00e1   "%s 不是程序, 不能与扩展名相关联."
0x00e2   "(无)"
0x00e3   "找不到文件."
0x00e4   "无法打印多个文件.

请只选定一个文件, 然后再试一次."
0x00e5   "程序或其一个组件被压缩.

请利用 MS-DOS 扩展公用程序复制安装盘中的文件."
0x00e6   "运行此应用程序所需要的一个库文件已被破坏. 请重新安装此应用程序."
0x00e7   "此文件正被其它应用程序使用."
0x00e8   "文件管理器可能无法存取该目录 "%s"中已创建的文件.

是否继续 ?"
0x00e9   "创建目录"
0x00ea   "%ld 字节"
0x00eb   "%s 字节"
0x00ec   "无法复制多个文件或目录到剪贴板.

请选定单个文件, 再试一次."

Ordinal  String
---------------------------------------------------------------
0x0084   "文件太多"
0x0085   "文件管理器 - 内存不够"
0x0086   "不能读整个目录. 只能显示部分列表."
0x008c   "当前目录: %s"
0x008d   "复制"
0x008f   "重命名"

Ordinal  String
---------------------------------------------------------------
0x0091   "格式化磁盘"
0x0092   "选定要格式化的磁盘."
0x0094   "断开网络驱动器(&D)..."
0x0096   "创建:"
0x0097   "删除..."
0x0098   "复制:"
0x0099   "重命名.."
0x009a   "移动..."
0x009b   "删除..."
0x009c   "打印: %s"

Ordinal  String
---------------------------------------------------------------
0x00a0   "磁盘驱动器 %c 不存在."
0x00a9   "复制..."
0x00aa   "删除:"

Ordinal  String
---------------------------------------------------------------
0x01a4   "打开..."
0x01a5   "关闭..."
0x01a6   "打开的目录窗口太多, 请关闭一个或多个窗口, 然后再试一次."

Ordinal  String
---------------------------------------------------------------
0x03e9   "移动文件时出错"
0x03ea   "复制文件时出错"
0x03eb   "删除文件时出错"
0x03ec   "更改文件名时出错"
0x03ed   "选定驱动器时出错"
0x03ee   "读取目录时出错"
0x03ef   "给磁盘命名时出错"

Ordinal  String
---------------------------------------------------------------
0x03f3   "不能移动 %s: %s"
0x03f4   "不能复制 %s: %s"
0x03f5   "不能删除 %s: %s"
0x03f6   "不能改名 %s: %s"
0x03fd   "不能创建目录 %s: %s"
0x03fe   "不能移动目录 %s: %s"

Ordinal  String
---------------------------------------------------------------
0x0406   "不能创建或替换 %s: %s"

Ordinal  String
---------------------------------------------------------------
0x0411   "非法 DOS 功能"
0x0412   "无法找到文件.

请确定指定的路径与文件名是否正确."
0x0413   "无法找到路径.

请确定指定的路径名是否正确."
0x0414   "正在使用的其它文件太多. 请退出一个或多个应用程序."
0x0415   "禁止存取.

请确定是否该磁盘未满或没有写保护."
0x0416   "非法的文件处理"
0x0418   "没有足够的内存.

请退出一个或多个应用程序, 再试一次."
0x041c   "非法的文件存取"

Ordinal  String
---------------------------------------------------------------
0x0420   "无法删除当前目录 (内部错误)."
0x0421   "非法的设备"
0x0422   "目录是空的."
0x0423   "磁盘有写保护.

请去掉磁盘上的写保护或使用另一张磁盘, 再试一次."
0x042d   "写入失败. 目的文件或磁盘可能已损坏."
0x042f   "读取失败. 源文件或磁盘可能已损坏."

Ordinal  String
---------------------------------------------------------------
0x050f   "非法的操作"

Ordinal  String
---------------------------------------------------------------
0x0451   "禁止网络存取. 请确定是否具有执行此操作的网络权限."

Ordinal  String
---------------------------------------------------------------
0x0430   "共享错误. 源或目标可能正在使用."

Ordinal  String
---------------------------------------------------------------
0x0480   "没有足够的磁盘空间.

请删除一个或多个文件以增加磁盘空间, 再试一次."
0x0481   "源与目的相同."
0x0482   "请只选定一个文件重命名, 或用 MS-DOS 通配符 (例如, *.TXT) 更改一组具有相似名字的文件."
0x0483   "无法重命名到另一个不同的目录或磁盘."
0x0484   "根目录 (内部错误)."
0x0486   "目的目录是源目录下的子目录."
0x0487   "文件正被 Windows 使用."
0x0488   "禁止存取. 源文件可能正在使用."
0x0489   "路径太深."
0x048a   "在 '到...' 框内, 请只指定一个文件或目录. 或者,如果要指定一组文件, 请用 MS-DOS 通配符 (例如, *.TXT)."
0x048b   "指定的文件名已存在. 再试一次, 并在 '到...' 框内指定一个不同的名字."

Ordinal  String
---------------------------------------------------------------
0x0130   "1.2 MB"
0x0131   "720K"
0x0132   "1.44 MB"
0x0133   "2.88 MB"
0x0134   "磁盘驱动器容量"

Ordinal  String
---------------------------------------------------------------
0x012f   "360K"

Ordinal  String
---------------------------------------------------------------
0x0190   "没有足够的内存."
0x0192   "无法格式化 MS-DOS 启动盘."
0x0193   "MS-DOS 启动盘扇区大小错误."
0x0194   "未知的磁盘驱动器类型."
0x0199   "传送系统文件失败."
0x019a   "此磁盘能格式化为具有 %s 的容量. 是否按此容量继续格式化 ?"
0x019b   "无法格式化磁盘.

请确定此磁盘是否在磁盘驱动器中,并且没有写保护、没有受损、也非磁盘密度不对."


