/********************************************************************

    Resources that were extracted from a binary that ran on 16-bit Windows.

    Copyright(c) Microsoft Corporation.All rights reserved.
    Licensed under the MIT License.

********************************************************************/

500 MENU
BEGIN
    POPUP   "檔案(&F)"
    BEGIN
    MENUITEM    "開啟舊檔(&O)	Enter", 0X0065
    MENUITEM    "移動(&M)...	F7", 0X006A
    MENUITEM    "複製(&C)...	F8", 0X006B
    MENUITEM    "刪除(&D)...	Del", 0X006C
    MENUITEM    "更名(&N)...", 0X006D
    MENUITEM    "內容(&T)...	Alt+Enter", 0X006E
    MENUITEM    "", 0X0000
    MENUITEM    "執行(&R)...", 0X0069
    MENUITEM    "列印(&P)...", 0X0066
    MENUITEM    "關聯(&A)...", 0X0067
    MENUITEM    "", 0X0000
    MENUITEM    "建立目錄(&E)...", 0X006F
    MENUITEM    "搜尋(&H)...", 0X0068
    MENUITEM    "選擇檔案(&S)...", 0X0074
    MENUITEM    "", 0X0000
    MENUITEM    "結束(&X)", 0X0073
    END
    POPUP   "磁碟(&D)"
    BEGIN
    MENUITEM    "複製磁片(&C)...", 0X00C9
    MENUITEM    "為磁碟命名(&L)...", 0X00CA
    MENUITEM    "", 0X0000
    MENUITEM    "格式化磁片(&F)...", 0X00CB
    MENUITEM    "製作系統磁片(&M)...", 0X00CC
    MENUITEM    "", 0X0000
    MENUITEM    "選擇磁碟機(&S)...", 0X00FB
    END
    POPUP   "目錄(&T)"
    BEGIN
    MENUITEM    "顯示次目錄(&X)	+", 0X012D
    MENUITEM    "顯示多層次目錄(&B)	*", 0X012E
    MENUITEM    "顯示所有目錄(&A)	Ctrl+*", 0X012F
    MENUITEM    "隱藏次目錄(&C)	-", 0X0130
    MENUITEM    "", 0X0000
    MENUITEM    "標示可顯示的多層次目錄(&I)", 0X01F9
    END
    POPUP   "查看(&V)"
    BEGIN
    MENUITEM    "樹結構與目錄(&R)", 0X019D
    MENUITEM    "只看樹狀結構(&E)", 0X019B
    MENUITEM    "只看目錄結構(&O)", 0X019C
    MENUITEM    "", 0X0000
    MENUITEM    "分隔(&L)", 0X019E
    MENUITEM    "", 0X0000
    MENUITEM    "名稱(&N)", 0X0191
    MENUITEM    "檔案的所有詳細資料(&A)", 0X0192
    MENUITEM    "部份的詳細資料(&P)...", 0X0193
    MENUITEM    "", 0X0000
    MENUITEM    "依名稱排序(&S)", 0X0194
    MENUITEM    "依型別排序(&B)", 0X0195
    MENUITEM    "依大小排序(&Z)", 0X0196
    MENUITEM    "依日期排序(&D)", 0X0197
    MENUITEM    "", 0X0000
    MENUITEM    "依檔案型式(&T)...", 0X0199
    END
    POPUP   "選項(&O)"
    BEGIN
    MENUITEM    "確認(&C)...", 0X01F5
    MENUITEM    "字形(&F)...", 0X01FE
    MENUITEM    "", 0X0000
    MENUITEM    "狀態顯示(&S)", 0X01F7
    MENUITEM    "使用時最小化(&M)", 0X01F8
    MENUITEM    "結束時將設定值存檔(&E)", 0X01FF
    END
    POPUP   "視窗(&W)"
    BEGIN
    MENUITEM    "新增視窗(&N)", 0X03ED
    MENUITEM    "重疊顯示(&C)	Shift+F5", 0X03E9
    MENUITEM    "非重疊顯示(&T)	Shift+F4", 0X03EA
    MENUITEM    "排列圖示(&A)", 0X03EC
    MENUITEM    "重新整理(&R)	F5", 0X03EB
    END
    POPUP   "輔助說明(&H)"
    BEGIN
    MENUITEM    "內容(&C)", 0X044D
    MENUITEM    "尋找輔助說明主題(&S)", 0X001E
    MENUITEM    "輔助說明使用方法(&H)", 0X044E
    MENUITEM    "", 0X0000
    MENUITEM    "關於檔案管理員(&A)...", 0X044F
    END
END


145 DIALOG 0x80c8, 13, 54, 269, 127
CAPTION "字形"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "字形(&F):", 1088, 0x0000, 6, 3, 40, 9
    CONTROL 0x85, "", 1136, 0x0351, 6, 13, 94, 54
    CONTROL 0x82, "字形樣式(&Y):", 1089, 0x0000, 108, 3, 44, 9
    CONTROL 0x85, "", 1137, 0x0001, 108, 13, 64, 54
    CONTROL 0x82, "大小(&S):", 1090, 0x0000, 179, 3, 30, 9
    CONTROL 0x85, "", 1138, 0x0311, 179, 13, 32, 54
    CONTROL 0x80, "效果", 1072, 0x0007, 6, 72, 84, 61
    CONTROL 0x80, "刪除線(&K)", 1040, 0x0003, 10, 82, 49, 10
    CONTROL 0x80, "底線(&U)", 1041, 0x0003, 10, 94, 51, 10
    CONTROL 0x80, "小寫(&L)", 1042, 0x0003, 10, 82, 49, 10
    CONTROL 0x82, "色彩(&C):", 1091, 0x0000, 10, 106, 30, 9
    CONTROL 0x85, "", 1139, 0x0253, 10, 116, 75, 50
    CONTROL 0x80, "確定", 1, 0x0001, 218, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 218, 23, 45, 14
    CONTROL 0x80, "應用到(&A)...", 1026, 0x0000, 218, 40, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 1038, 0x0000, 218, 57, 45, 14
    CONTROL 0x80, "範例", 1073, 0x0007, 98, 72, 165, 49
    CONTROL 0x82, "", 1093, 0x0081, 98, 124, 160, 20
    CONTROL 0x82, "AaBbYyZz", 1092, 0x0081, 104, 81, 149, 37
END

45 DIALOG 0x80c8, 11, 31, 201, 86
CAPTION "選擇磁碟機"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "磁碟機(&D):", 245, 0x000c, 5, 5, 41, 10
    CONTROL 0x83, "", 222, 0x0083, 5, 16, 140, 60
    CONTROL 0x80, "確定", 1, 0x0001, 150, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 150, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 150, 44, 45, 14
END

10 DIALOG 0x80c8, 15, 12, 210, 63
CAPTION "執行"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008b, 3, 6, 157, 10
    CONTROL 0x82, "指令行(&C):", 100, 0x000c, 3, 18, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 3, 29, 134, 12
    CONTROL 0x80, "執行時最小化(&M)", 214, 0x0003, 3, 45, 71, 12
    CONTROL 0x80, "確定", 1, 0x0001, 160, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 160, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 160, 43, 45, 14
END

44 DIALOG 0x80c8, 15, 12, 121, 83
CAPTION "選擇檔案"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "檔案(&F):", -1, 0x000c, 5, 16, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 5, 29, 60, 12
    CONTROL 0x80, "選擇(&S)", 1, 0x0001, 70, 6, 45, 14
    CONTROL 0x80, "取消選擇(&D)", 6, 0x0000, 70, 23, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 70, 40, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 70, 63, 45, 14
END

39 DIALOG 0x80c8, 10, 20, 245, 95
CAPTION "確認檔案取代"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "取代檔案:", 100, 0x000c, 25, 12, 49, 10
    CONTROL 0x82, "", 103, 0x008c, 75, 12, 165, 10
    CONTROL 0x82, "", 105, 0x000c, 75, 22, 170, 10
    CONTROL 0x82, "取代成為:", 100, 0x000c, 25, 34, 49, 10
    CONTROL 0x82, "", 102, 0x008c, 75, 34, 165, 10
    CONTROL 0x82, "", 106, 0x000c, 75, 44, 170, 10
    CONTROL 0x80, "是(&Y)", 6, 0x0001, 33, 73, 40, 14
    CONTROL 0x80, "全部皆是(&A)", 107, 0x0000, 77, 73, 44, 14
    CONTROL 0x80, "否(&N)", 7, 0x0000, 125, 73, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 73, 40, 14
END

40 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "確認檔案刪除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x000c, 25, 3, 203, 10
    CONTROL 0x82, "刪除檔案", 100, 0x000c, 25, 18, 44, 10
    CONTROL 0x82, "", 102, 0x008c, 70, 18, 170, 10
    CONTROL 0x80, "是(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部皆是(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "否(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

41 DIALOG 0x80c8, 10, 20, 245, 60
CAPTION "確認目錄刪除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "刪除目錄:", 100, 0x000c, 25, 18, 55, 10
    CONTROL 0x82, "", 102, 0x008c, 80, 18, 160, 10
    CONTROL 0x80, "是(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部皆是(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "否(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

42 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "確認檔案移動"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "移動檔案:", 100, 0x000c, 25, 18, 44, 10
    CONTROL 0x82, "", 102, 0x008c, 70, 18, 170, 10
    CONTROL 0x80, "是(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部皆是(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "否(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

43 DIALOG 0x80c8, 10, 22, 245, 60
CAPTION "確認檔案更名"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, 32515, 100, 0x0003, 3, 12, 16, 16
    CONTROL 0x82, "", 104, 0x008c, 25, 3, 203, 10
    CONTROL 0x82, "更改檔名:", 100, 0x000c, 25, 13, 54, 10
    CONTROL 0x82, "", 102, 0x008c, 80, 13, 160, 10
    CONTROL 0x80, "是(&Y)", 6, 0x0001, 33, 42, 40, 14
    CONTROL 0x80, "全部皆是(&A)", 107, 0x0000, 77, 42, 44, 14
    CONTROL 0x80, "否(&N)", 7, 0x0000, 125, 42, 40, 14
    CONTROL 0x80, "取消", 2, 0x0000, 171, 42, 40, 14
END

11 DIALOG 0x80c8, 20, 20, 240, 63
CAPTION "列印"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 193, 10
    CONTROL 0x82, "列印(&P):", 100, 0x000c, 3, 20, 30, 10
    CONTROL 0x81, "", 102, 0x0480, 34, 18, 155, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 36, 190, 10
    CONTROL 0x80, "確定", 1, 0x0001, 192, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 192, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 192, 43, 45, 14
END

13 DIALOG 0x80c8, 20, 20, 263, 63
CAPTION "搜尋"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "搜尋對象(&S):", 100, 0x000c, 5, 6, 45, 12
    CONTROL 0x81, "", 201, 0x0480, 52, 5, 155, 12
    CONTROL 0x82, "自...開始(&F):", 100, 0x000c, 5, 21, 45, 12
    CONTROL 0x81, "", 101, 0x0480, 52, 20, 155, 12
    CONTROL 0x80, "搜尋所有次目錄(&E)", 232, 0x0003, 52, 34, 100, 12
    CONTROL 0x80, "確定", 1, 0x0001, 212, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 212, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 212, 43, 45, 14
END

14 DIALOG 0x80c8, 47, 59, 231, 64
CAPTION "移動"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "目前工作目錄: N", 101, 0x008b, 3, 6, 172, 10
    CONTROL 0x82, "到(&T):", 100, 0x000c, 3, 33, 20, 10
    CONTROL 0x81, "", 103, 0x0480, 37, 32, 138, 12
    CONTROL 0x80, "", 257, 0x0004, 26, 33, 10, 10
    CONTROL 0x80, "複製到剪貼簿(&C)", 256, 0x0004, 26, 47, 72, 12
    CONTROL 0x82, "", 104, 0x008b, 3, 49, 40, 10
    CONTROL 0x82, "", 201, 0x008b, 45, 49, 130, 10
    CONTROL 0x80, "確定", 1, 0x0001, 180, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 180, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 180, 44, 45, 14
    CONTROL 0x82, "從(&F):", 100, 0x000c, 3, 19, 20, 10
    CONTROL 0x81, "", 102, 0x0480, 37, 18, 138, 12
END

15 DIALOG 0x80c8, 20, 20, 246, 64
CAPTION "刪除"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "目前目錄: C", 101, 0x008c, 3, 5, 193, 10
    CONTROL 0x82, "刪除(&L):", 100, 0x000c, 3, 20, 35, 10
    CONTROL 0x81, "", 102, 0x0480, 40, 19, 150, 12
    CONTROL 0x82, "", 104, 0x008b, 3, 35, 35, 10
    CONTROL 0x82, "", 201, 0x008b, 40, 35, 150, 10
    CONTROL 0x80, "確定", 1, 0x0001, 195, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 195, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 195, 43, 45, 14
END

38 DIALOG 0x80c8, 20, 20, 206, 65
CAPTION "內容"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "%d 檔案被選定, 總共 %s 個位元組", 100, 0x000c, 5, 5, 144, 10
    CONTROL 0x80, "屬性", -1, 0x0007, 5, 18, 120, 42
    CONTROL 0x80, "唯讀(&R)", 215, 0x0003, 10, 29, 52, 12
    CONTROL 0x80, "隱藏式(&I)", 216, 0x0003, 72, 29, 52, 12
    CONTROL 0x80, "保存檔案(&A)", 217, 0x0003, 10, 41, 52, 12
    CONTROL 0x80, "系統(&S)", 218, 0x0003, 72, 41, 52, 12
    CONTROL 0x80, "確定", 1, 0x0001, 150, 6, 50, 14
    CONTROL 0x80, "取消", 2, 0x0000, 150, 23, 50, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 150, 43, 50, 14
END

16 DIALOG 0x80c8, 33, 44, 231, 100
CAPTION "%s 的內容"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "確定", 1, 0x0001, 175, 6, 50, 14
    CONTROL 0x80, "取消", 2, 0x0000, 175, 23, 50, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 175, 43, 50, 14
    CONTROL 0x82, "檔案名稱(&F):", 100, 0x000c, 5, 5, 50, 10
    CONTROL 0x81, "", 201, 0x0880, 55, 4, 118, 10
    CONTROL 0x82, "大小:", 100, 0x000c, 5, 16, 40, 10
    CONTROL 0x82, "", 203, 0x000c, 55, 16, 90, 10
    CONTROL 0x82, "上次修改:", 100, 0x000c, 5, 27, 57, 10
    CONTROL 0x82, "", 204, 0x000c, 55, 27, 97, 10
    CONTROL 0x82, "路徑(&P):", 100, 0x000c, 5, 38, 46, 10
    CONTROL 0x81, "", 101, 0x0880, 55, 38, 118, 10
    CONTROL 0x80, "屬性", 100, 0x0007, 4, 52, 120, 42
    CONTROL 0x80, "唯讀(&R)", 215, 0x0003, 9, 64, 52, 12
    CONTROL 0x80, "隱藏式(&I)", 216, 0x0003, 71, 64, 49, 12
    CONTROL 0x80, "保存檔案(&A)", 217, 0x0003, 9, 76, 52, 12
    CONTROL 0x80, "系統(&S)", 218, 0x0003, 71, 76, 49, 12
END

17 DIALOG 0x80c8, 20, 20, 200, 63
CAPTION "建立目錄"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 101, 0x008c, 3, 6, 154, 10
    CONTROL 0x82, "名稱(&N):", 100, 0x000c, 3, 23, 30, 10
    CONTROL 0x81, "", 201, 0x0480, 40, 22, 100, 12
    CONTROL 0x82, "", 104, 0x008c, 3, 46, 150, 10
    CONTROL 0x80, "確定", 1, 0x0001, 152, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 152, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 152, 43, 45, 14
END

47 DIALOG 0x80c8, 20, 20, 157, 64
CAPTION "製作系統磁片"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "被系統化磁片位置(&C):", -1, 0x000c, 5, 8, 100, 10
    CONTROL 0x85, "", 222, 0x0003, 30, 20, 40, 37
    CONTROL 0x80, "確定", 1, 0x0001, 105, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 105, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 105, 43, 45, 14
END

19 DIALOG 0x80c8, 20, 20, 157, 64
CAPTION "複製磁片"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "來源磁片在(&S):", -1, 0x000c, 5, 8, 50, 10
    CONTROL 0x85, "", 245, 0x0003, 57, 6, 40, 37
    CONTROL 0x82, "目的磁片在(&D):", 206, 0x000c, 5, 22, 50, 10
    CONTROL 0x85, "", 222, 0x0003, 57, 20, 40, 37
    CONTROL 0x80, "確定", 1, 0x0001, 109, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 109, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 109, 43, 45, 14
END

22 DIALOG 0x90c8, 30, 30, 130, 55
CAPTION "複製磁片"
FONT 12, "System"
STYLE 0x00c2
    CONTROL 0x82, "現在複製磁片於", 100, 0x0001, 0, 5, 130, 10
    CONTROL 0x82, "磁碟機 A:", 222, 0x0001, 0, 15, 130, 10
    CONTROL 0x82, "讀取來源磁片", 243, 0x0001, 0, 26, 130, 10
    CONTROL 0x80, "取消", 2, 0x0001, 44, 39, 44, 14
END

23 DIALOG 0x80c8, 20, 20, 161, 63
CAPTION "為磁碟命名"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "磁碟標識名稱(&L):", 100, 0x000c, 5, 15, 60, 10
    CONTROL 0x81, "", 201, 0x0480, 5, 26, 100, 12
    CONTROL 0x80, "確定", 1, 0x0001, 112, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 112, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 112, 43, 45, 14
END

24 DIALOG 0x90c8, 11, 28, 183, 96
CAPTION "格式化磁片"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "確定", 1, 0x0001, 135, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 135, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 135, 43, 45, 14
    CONTROL 0x82, "磁片在(&D):", -1, 0x000c, 5, 7, 49, 10
    CONTROL 0x85, "", 222, 0x0003, 55, 4, 65, 40
    CONTROL 0x82, "容量(&C):", 100, 0x000c, 5, 20, 49, 10
    CONTROL 0x85, "", 241, 0x0003, 55, 19, 65, 40
    CONTROL 0x80, "選項", 102, 0x0007, 5, 39, 115, 53
    CONTROL 0x82, "標籤(&L):", -1, 0x000c, 11, 51, 39, 10
    CONTROL 0x81, "", 201, 0x0000, 40, 49, 63, 12
    CONTROL 0x80, "製作系統磁片(&M)", 242, 0x0003, 11, 62, 90, 12
    CONTROL 0x80, "快速格式化(&Q)", 244, 0x0003, 11, 76, 90, 12
END

26 DIALOG 0x90c8, 30, 30, 150, 50
CAPTION "正在格式化磁片"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "正在格式化磁片", 100, 0x0001, 0, 5, 150, 10
    CONTROL 0x82, "磁碟機起始設定...", 243, 0x0001, 0, 17, 150, 10
    CONTROL 0x80, "取消", 2, 0x0001, 54, 30, 44, 14
END

27 DIALOG 0x90c8, 30, 30, 174, 57
CAPTION "製作系統磁片"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "複製系統檔案中", 100, 0x0001, 0, 6, 174, 8
    CONTROL 0x82, "如要放棄, 請按「取消」.", 100, 0x0001, 0, 14, 174, 8
    CONTROL 0x80, "取消", 2, 0x0001, 66, 39, 44, 14
END

28 DIALOG 0x80c8, 12, 28, 241, 135
CAPTION "網路連接"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "新的連接", -1, 0x0007, 5, 3, 170, 55
    CONTROL 0x82, "網路路徑(&N):", -1, 0x0000, 10, 16, 55, 10
    CONTROL 0x81, "", 223, 0x0480, 65, 14, 100, 12
    CONTROL 0x82, "磁碟機(&R):", -1, 0x0000, 10, 30, 40, 10
    CONTROL 0x85, "", 222, 0x0003, 65, 28, 40, 100
    CONTROL 0x82, "密碼(&W):", -1, 0x0000, 10, 44, 36, 10
    CONTROL 0x81, "", 224, 0x04a0, 65, 42, 100, 12
    CONTROL 0x82, "目前磁碟機的連接(&V)", -1, 0x0000, 5, 62, 120, 10
    CONTROL 0x83, "", 245, 0x1003, 5, 73, 160, 60
    CONTROL 0x80, "關閉(&L)", 2, 0x0001, 190, 6, 45, 14
    CONTROL 0x80, "連接(&C)", 1, 0x0000, 190, 27, 45, 14
    CONTROL 0x80, "前一個(&P)...", 226, 0x0000, 190, 44, 45, 14
    CONTROL 0x80, "瀏覽(&B)...", 227, 0x0000, 190, 61, 45, 14
    CONTROL 0x80, "切斷連接(&D)", 255, 0x0000, 190, 78, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 190, 95, 45, 14
END

29 DIALOG 0x80c8, 30, 30, 231, 98
CAPTION "前一個網路連接"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "網路路徑(&P):", 100, 0x000c, 3, 3, 69, 10
    CONTROL 0x83, "", 226, 0x0003, 3, 15, 172, 80
    CONTROL 0x80, "選擇(&S)", 1, 0x0001, 181, 6, 44, 14
    CONTROL 0x80, "關閉", 2, 0x0000, 181, 24, 44, 14
    CONTROL 0x80, "刪除(&D)", 219, 0x0000, 181, 41, 44, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 181, 58, 44, 14
END

30 DIALOG 0x80c8, 20, 20, 168, 65
CAPTION "部份的詳細資料"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "詳細資料", 100, 0x0007, 4, 4, 111, 55
    CONTROL 0x80, "大小(&S)", 203, 0x0003, 11, 15, 100, 9
    CONTROL 0x80, "上次修改日期(&M)", 204, 0x0003, 11, 25, 100, 9
    CONTROL 0x80, "上次修改時間(&T)", 205, 0x0003, 11, 35, 100, 9
    CONTROL 0x80, "檔案屬性(&F)", 206, 0x0003, 11, 45, 100, 9
    CONTROL 0x80, "確定", 1, 0x0001, 120, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 120, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 120, 43, 45, 14
END

32 DIALOG 0x80c8, 20, 20, 157, 102
CAPTION "依檔案型式"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "名稱(&N):", 100, 0x000c, 5, 8, 29, 10
    CONTROL 0x81, "", 201, 0x0480, 34, 6, 65, 12
    CONTROL 0x80, "檔案型式", 100, 0x0007, 5, 20, 94, 62
    CONTROL 0x80, "目錄(&D)", 101, 0x0003, 10, 31, 60, 12
    CONTROL 0x80, "程式(&P)", 210, 0x0003, 10, 43, 60, 12
    CONTROL 0x80, "文件(&M)", 211, 0x0003, 10, 55, 60, 12
    CONTROL 0x80, "其它檔案(&O)", 212, 0x0003, 10, 67, 60, 12
    CONTROL 0x80, "顯示隱藏/系統檔案(&S)", 250, 0x0003, 5, 85, 100, 12
    CONTROL 0x80, "確定", 1, 0x0001, 107, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 107, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 107, 43, 45, 14
END

33 DIALOG 0x80c8, 20, 20, 164, 80
CAPTION "確認"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x80, "確認發生在", 100, 0x0007, 5, 3, 108, 73
    CONTROL 0x80, "刪除檔案(&D)", 219, 0x0003, 10, 15, 80, 12
    CONTROL 0x80, "目錄刪除(&I)", 220, 0x0003, 10, 27, 80, 12
    CONTROL 0x80, "取代檔案(&R)", 221, 0x0003, 10, 39, 80, 12
    CONTROL 0x80, "滑鼠動作(&M)", 249, 0x0003, 10, 51, 80, 12
    CONTROL 0x80, "磁碟指令(&K)", 251, 0x0003, 10, 63, 80, 12
    CONTROL 0x80, "確定", 1, 0x0001, 115, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 115, 23, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 115, 44, 45, 14
END

35 DIALOG 0x80c8, 20, 20, 250, 46
CAPTION "移動..."
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "", 104, 0x008b, 5, 5, 49, 10
    CONTROL 0x82, "", 201, 0x008b, 55, 5, 192, 10
    CONTROL 0x82, "到:", 108, 0x008b, 5, 15, 25, 10
    CONTROL 0x82, "", 109, 0x008b, 55, 15, 192, 10
    CONTROL 0x80, "取消", 2, 0x0001, 200, 28, 40, 14
END

36 DIALOG 0x80c8, 20, 20, 120, 58
CAPTION ""
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "列印檔案...", -1, 0x0001, 4, 6, 120, 12
    CONTROL 0x82, "", 100, 0x0081, 4, 20, 120, 12
    CONTROL 0x80, "取消", 2, 0x0001, 44, 40, 32, 14
END

12 DIALOG 0x80c8, 31, 39, 211, 96
CAPTION "關聯"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "檔案延伸名稱(&F):", 99, 0x000c, 5, 8, 99, 10
    CONTROL 0x81, "", 112, 0x0400, 105, 6, 35, 12
    CONTROL 0x82, "關聯檔案(&A):", 99, 0x000c, 5, 22, 150, 10
    CONTROL 0x81, "", 113, 0x0080, 5, 32, 148, 12
    CONTROL 0x83, "", 111, 0x1003, 11, 44, 146, 40
    CONTROL 0x80, "確定", 1, 0x0001, 162, 6, 45, 14
    CONTROL 0x80, "取消", 2, 0x0000, 162, 23, 45, 14
    CONTROL 0x80, "瀏覽(&B)...", 232, 0x0000, 162, 43, 45, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 162, 60, 45, 14
END

46 DIALOG 0x80c8, 11, 28, 250, 78
CAPTION "選擇檔案名稱"
FONT 12, "System"
STYLE 0x00c0
    CONTROL 0x82, "此路徑不符合 DOS 對檔案名稱的規定. 請輸入新的名稱.", 99, 0x0000, 4, 9, 196, 11
    CONTROL 0x82, "新的名稱(&N):", 99, 0x0002, 5, 56, 50, 12
    CONTROL 0x81, "", 103, 0x0000, 57, 55, 130, 12
    CONTROL 0x82, "原始路徑:", 99, 0x0002, 5, 28, 50, 11
    CONTROL 0x81, "", 102, 0x0880, 57, 28, 130, 12
    CONTROL 0x82, "到目錄:", 99, 0x0002, 5, 42, 50, 11
    CONTROL 0x81, "", 101, 0x0880, 57, 42, 130, 12
    CONTROL 0x80, "確定", 1, 0x0001, 205, 4, 44, 14
    CONTROL 0x80, "取消", 2, 0x0000, 205, 20, 44, 14
    CONTROL 0x80, "輔助說明(&H)", 254, 0x0000, 205, 36, 44, 14
END


Ordinal  String
---------------------------------------------------------------
0x0028   "結束 Windows 系統使用"
0x0029   "這樣將會離開 Windows 中文版系統."

Ordinal  String
---------------------------------------------------------------
0x0032   "複製磁片"
0x0033   "插入目的磁片"
0x0034   "插入來源磁片"
0x0035   "插入來源和目的磁片"
0x0036   "格式化目的磁片"
0x0037   "複製磁片錯誤"
0x0038   "無法複製磁片"
0x003a   "來源磁碟機和目的磁碟機不相容"
0x003c   "%d%% 完成"
0x003d   "建立主目錄中..."
0x003e   "複製系統檔案中..."
0x003f   "格式化錯誤"

Ordinal  String
---------------------------------------------------------------
0x00c0   "磁碟空間不足以列印.

請先刪除一些檔案以騰出磁碟空間, 再試一次."
0x00c1   "記憶體不足, 無法列印;

請先結束其他的應用程式, 再試一次."
0x00c2   "列印時有誤;

請確定印表機已組裝正確, 且也已選擇."
0x00c3   "只能顯示不完整的樹狀目錄"
0x00c5   "目的磁碟已滿.

請插入一個新的磁片後繼續."
0x00c6   "這是個系統, 隱藏式, 或唯讀檔案."
0x00c7   "無法格式化.

要以一般的格式繼續嗎?"
0x00c8   "指定的應用程式不是一個 Windows 或 DOS 程式."
0x00c9   "此應用程式需在較新版本的 Microsoft Windows 下執行."
0x00ca   "此應用程式需在 Windows 下執行. "
0x00cb   "送指令到應用程式時有錯誤發生."

Ordinal  String
---------------------------------------------------------------
0x0040   "無法格式化."
0x0042   "格式化完成"
0x0043   "總共 %ld 個位元組的磁碟空間
磁片上有 %ld 個位元組可用

你還要格式化其他磁片嗎?"
0x0046   "製作系統磁片"
0x0047   "您確定您要複製系統檔案到磁碟機 %c 的磁片上?"
0x0048   "系統磁片錯誤"
0x0049   "MS-DOS 啟動磁碟機上沒有系統檔案, 或者無法使用."
0x004a   "無法將系統檔案複製到 MS-DOS 啟動磁碟機上."
0x004b   "無法將系統檔案複製到此磁片.

請確定磁碟機中具有已格式化的磁片, 且磁碟機的門已關妥."

Ordinal  String
---------------------------------------------------------------
0x0050   "網路錯誤"
0x0053   "此磁碟機含有 Windows 中文版系統檔案, 不可切斷"
0x005b   "無法變更屬性.

請檢查此磁碟是否有防寫保護."
0x005c   "無法建立目錄.

請檢查此磁碟是否有防寫保護."
0x005d   "無法為磁碟命名.

請確定此磁碟沒有防寫保護, 而且並非是網路磁碟, 且其標識名稱是正確的.
磁碟標識名稱不可含有下列的字元:
[space] * ? / \ | . , ; : + = [ ] ( ) & ^ < > " "
0x005f   "找不到符合的檔案."

Ordinal  String
---------------------------------------------------------------
0x00b4   "總共 %d 個檔案 (%s 個位元組)"
0x00b5   "已讀取的目錄有: %d "
0x00b6   "%c: %sKB 可用, 總共 %sKB"
0x00b7   "找到 %d 個檔案"
0x00b9   "被指定的擋案"
0x00ba   "不可切斷網路磁碟機的連結.

該磁碟機上有已開啟的檔案."
0x00bb   "選了 %d 個檔案 (%s 個位元組)"
0x00bc   "磁碟機 %c 中沒有磁片.

請插入磁片再試一次."
0x00bd   "磁碟機 %c 中的磁片未格式化.

你想把它格式化嗎?"
0x00bf   "找不到要列印的檔案. 請檢查所指定的路徑和檔名是否正確."

Ordinal  String
---------------------------------------------------------------
0x0060   "目錄已經存在."
0x0061   "此磁碟機的內容已經變更了. 你想更新搜尋結果視窗?"
0x0065   "磁碟機 %c:%c"
0x006e   "無法執行程式"
0x006f   "未在預期中的錯誤: %d."

Ordinal  String
---------------------------------------------------------------
0x00d2   "格式化將會把所有的資料刪除掉. 你確定要格式化磁碟機 %c 的磁片嗎?"
0x00d3   "確認要格式化磁片"
0x00d4   "此操作將會把目的磁碟的所有資料刪掉. 你確定要繼續嗎?"
0x00d5   "確認要複製磁片"
0x00d6   "關閉(&C)"
0x00d7   "復原(&U)..."
0x00d8   "連接網路磁碟機(&N)..."
0x00d9   "網路連接(&N)..."
0x00da   "目錄 %s 不存在.

建立它?"
0x00db   "Programs#*.exe;*.pif;*.com;*.bat#All Files (*.*)#*.*#"
0x00dc   "瀏覽"
0x00dd   "執行"
0x00de   "無法列印檔案"
0x00df   "無法顯示輔助說明資訊."

Ordinal  String
---------------------------------------------------------------
0x0070   "記憶體不足, 無法啟動指定的應用程式.

請結束一些應用程式, 再試一次."
0x0071   "找不到檔案 (或其元件之一).

請確定輸入的路徑及檔名是正確的, 且所需要的程式庫也都是可以使用的."
0x0072   "指定的路徑錯誤."
0x0073   "同時開啟太多檔案.

請先結束一些應用程式, 或新增 CONFIG.SYS 的 FILES 指令值之後, 再試一次."
0x0074   "此資料檔沒有設定關聯檔.

請從檔案選擇表中選擇'關聯'這一選項以建立其關聯檔."
0x0075   "無法重複啟動指定的程式."
0x0076   "無法開啟或列印檔案. 

啟動建立此檔的應用程式, 並藉此應用程式來開啟或列印檔案."
0x0078   "以滑鼠操作確認"
0x0079   "您確定要將指定的檔案或目錄複製到 %s?"
0x007a   "您確定要將指定的檔案或目錄搬移到 %s?"
0x007b   "您確定要啟動 %s, 且係用 %s 作為其初始檔?"
0x007c   "檔案管理員"
0x007e   "樹狀目錄結構"
0x007f   "搜尋結果: "

Ordinal  String
---------------------------------------------------------------
0x00e0   "有 %s 檔案延伸名稱的檔案是程式檔, 無法與其他應用程式建立關聯."
0x00e1   "%s 不是一個程式, 不能與檔案延伸名稱建立關聯."
0x00e2   "(無)"
0x00e3   "找不到檔案."
0x00e4   "無法列印多個檔案.

請只擇擇一個檔案, 並再試一次."
0x00e5   "此程式或其元件已經壓縮.

請使用 MS-DOS 的 Expand 指令以複製 Windows 設定磁片的檔案."
0x00e6   "要執行此應用程式所須用到的程式庫檔案之一已經受損. 請重新安裝此應用程式."
0x00e7   "這個檔案有其他應用程式正在使用."
0x00e8   "檔案管理員可能無法存取目錄 "%s" 中的檔案.

你想繼續嗎?"
0x00e9   "建立目錄"
0x00ea   "%ld 個位元組"
0x00eb   "%s 個位元組"
0x00ec   "不可一次複製多個檔案或目錄到剪貼簿上.

請選一個檔案, 再試一次."

Ordinal  String
---------------------------------------------------------------
0x0084   "太多檔案"
0x0085   "檔案管理員 - 超出記憶體"
0x0086   "無法讀取整個目錄, 只可列印部分檔案."
0x008c   "目前工作目錄是 %s"
0x008d   "複製"
0x008f   "更名"

Ordinal  String
---------------------------------------------------------------
0x0091   "格式化磁片"
0x0092   "請指定欲格式化的磁片."
0x0094   "切斷網路磁碟機連結(&D)..."
0x0096   "建立:"
0x0097   "刪除..."
0x0098   "複製:"
0x0099   "更名..."
0x009a   "移動..."
0x009b   "刪除..."
0x009c   "列印: %s"

Ordinal  String
---------------------------------------------------------------
0x00a0   "磁碟機 %c 不存在."
0x00a9   "複製中..."
0x00aa   "刪除:"

Ordinal  String
---------------------------------------------------------------
0x01a4   "開啟..."
0x01a5   "關閉..."

Ordinal  String
---------------------------------------------------------------
0x03e9   "移動檔案時錯誤"
0x03ea   "複製檔案時錯誤"
0x03eb   "刪除檔案時錯誤"
0x03ec   "檔案更名時錯誤"
0x03ed   "選定磁碟機時錯誤"
0x03ee   "讀取目錄時錯誤"
0x03ef   "磁片命名時錯誤"

Ordinal  String
---------------------------------------------------------------
0x03f3   "無法移動 %s: %s"
0x03f4   "無法複製 %s: %s"
0x03f5   "無法刪除 %s: %s"
0x03f6   "無法更名 %s: %s"
0x03fd   "無法建立目錄 %s: %s"
0x03fe   "無法刪除目錄 %s: %s"

Ordinal  String
---------------------------------------------------------------
0x0406   "無法建立或取代 %s: %s"

Ordinal  String
---------------------------------------------------------------
0x0411   "dos 功能無效"
0x0412   "找不到檔案.

請確定輸入的路徑和檔名是正確的."
0x0413   "找不到路徑.

請確定輸入的路徑是正確的."
0x0414   "太多其他檔案同時在使用中. 請結束一些應用程式."
0x0415   "存取遭拒.

請確定該磁片未滿, 且沒有防寫保護."
0x0416   "檔案處理無效"
0x0418   "記憶體不足.

請先結束一些應用程式, 再試一次."
0x041c   "檔案存取無效"

Ordinal  String
---------------------------------------------------------------
0x0420   "無法刪除目前的目錄 (內部錯誤)."
0x0421   "週邊設備無效"
0x0422   "目錄是空的."
0x0423   "此磁片具有防寫保護.

請讓此防寫保護失效, 或用其他磁片, 再試一次."
0x042d   "寫入錯誤. 目的檔案或磁片可能已經受損."
0x042f   "讀取錯誤. 來源檔案或磁片可能已經受損."

Ordinal  String
---------------------------------------------------------------
0x050f   "操作無效"

Ordinal  String
---------------------------------------------------------------
0x0451   "網路存取遭拒. 請確定您具有執行此動作的網路權利."

Ordinal  String
---------------------------------------------------------------
0x0430   "共用錯誤. 來源或目的檔案或磁片可能正在使用中."

Ordinal  String
---------------------------------------------------------------
0x0480   "磁碟空間不足.

請先刪除一些檔案以騰出空間, 再試一次."
0x0481   "來源檔與目的檔是同一個."
0x0482   "請只選一個檔案來更名, 或使用 MS-DOS 通用符號(如 *.TXT)把一群有相似名稱的檔案更名."
0x0483   "不可更改名稱成別的目錄或磁片."
0x0484   "主目錄 (內部錯誤)."
0x0486   "目的目錄是來源的次目錄."
0x0487   "檔案正為 Windows 使用中."
0x0488   "存取遭拒.來源檔可能正使用中."
0x0489   "路徑太深."
0x048a   "請在「到」方塊中只指定一個檔案或目錄. 否則, 若想指定一組檔案, 請使用 MS-DOS 通用符號(如 *.TXT)."
0x048b   "指定的檔名已經存在. 在「到」方塊中指定其他的檔案或目錄, 再試一次."

Ordinal  String
---------------------------------------------------------------
0x0130   "1.2 MB"
0x0131   "720 K"
0x0132   "1.44 MB"
0x0133   "2.88 MB"
0x0134   "磁碟機容量"

Ordinal  String
---------------------------------------------------------------
0x012f   "360 K"

Ordinal  String
---------------------------------------------------------------
0x0190   "記憶體不足."
0x0192   "無法格式化 MS-DOS 的啟動磁碟."
0x0193   "MS-DOS 啟動磁碟機的區段大小不對."
0x0194   "不能辨認的磁碟機型別."
0x0199   "無法傳輸系統檔案."
0x019a   "此磁片可以格式化成具 %s 的容量. 要繼續格式化為此容量嗎?"
0x019b   "無法格式化此磁片.

請確定此磁片是在磁碟機中, 而且沒有防寫保護, 沒有受損, 也非密度比例錯誤."


